HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#WARNING1"><span style="color:orange">WARNING: Host distribution "Ubuntu-16.04" has not been validated with this version of the build system; you may possibly experience unexpected failures. It is recommended that you use a tested distribution.</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#WARNING2"><span style="color:orange">WARNING: Host distribution "Ubuntu-16.04" has not been validated with this version of the build system; you may possibly experience unexpected failures. It is recommended that you use a tested distribution.</span></a></li><br/>
<li>3 <a target="content" href="log_content.html#WARNING3"><span style="color:orange">WARNING: Unable to get checksum for linux-s5p4418-navi-ref SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/kernel/kernel-4.4.19/.git/shallow'</span></a></li><br/>
<li>4 <a target="content" href="log_content.html#WARNING4"><span style="color:orange">WARNING: Unable to get checksum for s5p4418-navi-ref-uboot SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/u-boot/u-boot-2016.01/.git/shallow'</span></a></li><br/>
<li>5 <a target="content" href="log_content.html#WARNING5"><span style="color:orange">WARNING: Unable to get checksum for s5p4418-navi-ref-bl1 SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/bl1/bl1-s5p4418/.git/shallow'</span></a></li><br/>
<li>6 <a target="content" href="log_content.html#WARNING6"><span style="color:orange">WARNING: zlib-1.2.8-r0 do_fetch: Failed to fetch URL http://www.zlib.net/zlib-1.2.8.tar.xz, attempting MIRRORS if available</span></a></li><br/>
<li>7 <a target="content" href="log_content.html#WARNING7"><span style="color:orange">WARNING: libpcre-native-8.38-r0 do_fetch: Failed to fetch URL ftp://ftp.csx.cam.ac.uk/pub/software/programming/pcre/pcre-8.38.tar.bz2, attempting MIRRORS if available</span></a></li><br/>
<li>8 <a target="content" href="log_content.html#WARNING8"><span style="color:orange">WARNING: libpng-native-1.6.21-r0 do_fetch: Failed to fetch URL http://distfiles.gentoo.org/distfiles/libpng-1.6.21.tar.xz, attempting MIRRORS if available</span></a></li><br/>
<li>9 <a target="content" href="log_content.html#WARNING9"><span style="color:orange">WARNING: glibc-locale-2.23-r0 do_package_qa: QA Issue: /usr/bin/localedef contained in package localedef requires libc.so.6(GLIBC_2.4), but no providers found in RDEPENDS_localedef? [file-rdeps]</span></a></li><br/>
<li>10 <a target="content" href="log_content.html#WARNING10"><span style="color:orange">WARNING: Host distribution "Ubuntu-16.04" has not been validated with this version of the build system; you may possibly experience unexpected failures. It is recommended that you use a tested distribution.</span></a></li><br/>
<li>11 <a target="content" href="log_content.html#WARNING11"><span style="color:orange">WARNING: Unable to get checksum for arm-trusted-firmware SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/secure/arm-trusted-firmware/.git/shallow'</span></a></li><br/>
<li>12 <a target="content" href="log_content.html#WARNING12"><span style="color:orange">WARNING: Unable to get checksum for l-loader SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/secure/l-loader/.git/shallow'</span></a></li><br/>
<li>13 <a target="content" href="log_content.html#WARNING13"><span style="color:orange">WARNING: Unable to get checksum for optee-client SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/secure/optee/optee_client/.git/shallow'</span></a></li><br/>
<li>14 <a target="content" href="log_content.html#WARNING14"><span style="color:orange">WARNING: Unable to get checksum for optee-os SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/secure/optee/optee_os/.git/shallow'</span></a></li><br/>
<li>15 <a target="content" href="log_content.html#WARNING15"><span style="color:orange">WARNING: Unable to get checksum for optee-test SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/secure/optee/optee_test/.git/shallow'</span></a></li><br/>
<li>16 <a target="content" href="log_content.html#WARNING16"><span style="color:orange">WARNING: Unable to get checksum for optee-linuxdriver SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/secure/optee/optee_linuxdriver/.git/shallow'</span></a></li><br/>
<li>17 <a target="content" href="log_content.html#WARNING17"><span style="color:orange">WARNING: Unable to get checksum for s5p6818-avn-ref-bl1 SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/bl1/bl1-s5p6818/.git/shallow'</span></a></li><br/>
<li>18 <a target="content" href="log_content.html#WARNING18"><span style="color:orange">WARNING: Unable to get checksum for s5p6818-avn-ref-uboot SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/u-boot/u-boot-2016.01/.git/shallow'</span></a></li><br/>
<li>19 <a target="content" href="log_content.html#WARNING19"><span style="color:orange">WARNING: Host distribution "Ubuntu-16.04" has not been validated with this version of the build system; you may possibly experience unexpected failures. It is recommended that you use a tested distribution.</span></a></li><br/>
<li>20 <a target="content" href="log_content.html#WARNING20"><span style="color:orange">WARNING: Host distribution "Ubuntu-16.04" has not been validated with this version of the build system; you may possibly experience unexpected failures. It is recommended that you use a tested distribution.</span></a></li><br/>
<li>21 <a target="content" href="log_content.html#WARNING21"><span style="color:orange">WARNING: Unable to get checksum for linux-s5p6818-avn-ref SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/kernel/kernel-4.4.19/.git/shallow'</span></a></li><br/>
<li>22 <a target="content" href="log_content.html#WARNING22"><span style="color:orange">WARNING: Unable to get checksum for linux-s5p6818-avn-ref SRC_URI entry vmlinux: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/kernel/kernel-4.4.19/arch/arm/boot/vmlinux'</span></a></li><br/>
<li>23 <a target="content" href="log_content.html#WARNING23"><span style="color:orange">WARNING: Unable to get checksum for optee-linuxdriver SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/secure/optee/optee_linuxdriver/.git/shallow'</span></a></li><br/>
<li>24 <a target="content" href="log_content.html#WARNING24"><span style="color:orange">WARNING: Unable to get checksum for optee-build SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/secure/optee/optee_build/.git/shallow'</span></a></li><br/>
<li>25 <a target="content" href="log_content.html#WARNING25"><span style="color:orange">WARNING: Unable to get checksum for arm-trusted-firmware SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/secure/arm-trusted-firmware/.git/shallow'</span></a></li><br/>
<li>26 <a target="content" href="log_content.html#WARNING26"><span style="color:orange">WARNING: Unable to get checksum for l-loader SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/secure/l-loader/.git/shallow'</span></a></li><br/>
<li>27 <a target="content" href="log_content.html#WARNING27"><span style="color:orange">WARNING: Unable to get checksum for optee-os SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/secure/optee/optee_os/.git/shallow'</span></a></li><br/>
<li>28 <a target="content" href="log_content.html#WARNING28"><span style="color:orange">WARNING: Unable to get checksum for optee-client SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/secure/optee/optee_client/.git/shallow'</span></a></li><br/>
<li>29 <a target="content" href="log_content.html#WARNING29"><span style="color:orange">WARNING: Unable to get checksum for optee-test SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/secure/optee/optee_test/.git/shallow'</span></a></li><br/>
<li>30 <a target="content" href="log_content.html#WARNING30"><span style="color:orange">WARNING: Unable to get checksum for s5p6818-avn-ref-uboot SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/u-boot/u-boot-2016.01/.git/shallow'</span></a></li><br/>
<li>31 <a target="content" href="log_content.html#WARNING31"><span style="color:orange">WARNING: Unable to get checksum for s5p6818-avn-ref-bl1 SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_gerrit_trigger/bl1/bl1-s5p6818/.git/shallow'</span></a></li><br/>
<li>32 <a target="content" href="log_content.html#WARNING32"><span style="color:orange">WARNING: zlib-1.2.8-r0 do_fetch: Failed to fetch URL http://www.zlib.net/zlib-1.2.8.tar.xz, attempting MIRRORS if available</span></a></li><br/>
<li>33 <a target="content" href="log_content.html#WARNING33"><span style="color:orange">WARNING: libpcre-native-8.38-r0 do_fetch: Failed to fetch URL ftp://ftp.csx.cam.ac.uk/pub/software/programming/pcre/pcre-8.38.tar.bz2, attempting MIRRORS if available</span></a></li><br/>
<li>34 <a target="content" href="log_content.html#WARNING34"><span style="color:orange">WARNING: libpng-native-1.6.21-r0 do_fetch: Failed to fetch URL http://distfiles.gentoo.org/distfiles/libpng-1.6.21.tar.xz, attempting MIRRORS if available</span></a></li><br/>
<li>35 <a target="content" href="log_content.html#WARNING35"><span style="color:orange">WARNING: optee-build-NEXELL-0.1 do_package: optee-build-dev-NEXELL was registered as shlib provider for libteec.so.1.0, changing it to optee-build-NEXELL because it was built later</span></a></li><br/>
<li>36 <a target="content" href="log_content.html#WARNING36"><span style="color:orange">WARNING: glibc-locale-2.23-r0 do_package_qa: QA Issue: glibc-locale: /glibc-binary-localedata-ar-bh.iso-8859-6/usr/lib/locale/ar_BH.ISO-8859-6/LC_TIME is owned by uid 1000, which is the same as the user running bitbake. This may be due to host contamination [host-user-contaminated]</span></a></li><br/>
