HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#ERROR1"><span style="color:red">external/apache-http/../../frameworks/base/core/java/android/net/http/SslCertificate.java:19: error: cannot find symbol</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#ERROR2"><span style="color:red">external/apache-http/../../frameworks/base/core/java/android/net/http/SslCertificate.java:42: error: package com.android.org.bouncycastle.asn1.x509 does not exist</span></a></li><br/>
<li>3 <a target="content" href="log_content.html#ERROR3"><span style="color:red">external/apache-http/../../frameworks/base/core/java/android/net/http/HttpResponseCache.java:19: error: package com.android.okhttp does not exist</span></a></li><br/>
<li>4 <a target="content" href="log_content.html#ERROR4"><span style="color:red">external/apache-http/../../frameworks/base/core/java/android/net/http/HttpResponseCache.java:20: error: package com.android.okhttp does not exist</span></a></li><br/>
<li>5 <a target="content" href="log_content.html#ERROR5"><span style="color:red">external/apache-http/../../frameworks/base/core/java/android/net/http/HttpResponseCache.java:21: error: package com.android.okhttp does not exist</span></a></li><br/>
<li>6 <a target="content" href="log_content.html#ERROR6"><span style="color:red">external/apache-http/../../frameworks/base/core/java/android/net/http/HttpResponseCache.java:152: error: cannot find symbol</span></a></li><br/>
<li>7 <a target="content" href="log_content.html#ERROR7"><span style="color:red">external/apache-http/../../frameworks/base/core/java/android/net/http/HttpResponseCache.java:154: error: cannot find symbol</span></a></li><br/>
<li>8 <a target="content" href="log_content.html#ERROR8"><span style="color:red">external/apache-http/../../frameworks/base/core/java/android/net/http/HttpResponseCache.java:156: error: cannot find symbol</span></a></li><br/>
<li>9 <a target="content" href="log_content.html#ERROR9"><span style="color:red">external/apache-http/../../frameworks/base/core/java/android/net/http/HttpResponseCache.java:296: error: cannot find symbol</span></a></li><br/>
