HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#WARNING1"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#WARNING2"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>3 <a target="content" href="log_content.html#WARNING3"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>4 <a target="content" href="log_content.html#WARNING4"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>5 <a target="content" href="log_content.html#WARNING5"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>6 <a target="content" href="log_content.html#WARNING6"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>7 <a target="content" href="log_content.html#WARNING7"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>8 <a target="content" href="log_content.html#WARNING8"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>9 <a target="content" href="log_content.html#WARNING9"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>10 <a target="content" href="log_content.html#WARNING10"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>11 <a target="content" href="log_content.html#WARNING11"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>12 <a target="content" href="log_content.html#WARNING12"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>13 <a target="content" href="log_content.html#WARNING13"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>14 <a target="content" href="log_content.html#WARNING14"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>15 <a target="content" href="log_content.html#WARNING15"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>16 <a target="content" href="log_content.html#WARNING16"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>17 <a target="content" href="log_content.html#WARNING17"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>18 <a target="content" href="log_content.html#WARNING18"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>19 <a target="content" href="log_content.html#WARNING19"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>20 <a target="content" href="log_content.html#WARNING20"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>21 <a target="content" href="log_content.html#WARNING21"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>22 <a target="content" href="log_content.html#WARNING22"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>23 <a target="content" href="log_content.html#WARNING23"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>24 <a target="content" href="log_content.html#WARNING24"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>25 <a target="content" href="log_content.html#WARNING25"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>26 <a target="content" href="log_content.html#WARNING26"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>27 <a target="content" href="log_content.html#WARNING27"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>28 <a target="content" href="log_content.html#WARNING28"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>29 <a target="content" href="log_content.html#WARNING29"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>30 <a target="content" href="log_content.html#WARNING30"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>31 <a target="content" href="log_content.html#WARNING31"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>32 <a target="content" href="log_content.html#WARNING32"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>33 <a target="content" href="log_content.html#WARNING33"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>34 <a target="content" href="log_content.html#WARNING34"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>35 <a target="content" href="log_content.html#WARNING35"><span style="color:orange">WARNING: Host distribution "Ubuntu-16.04" has not been validated with this version of the build system; you may possibly experience unexpected failures. It is recommended that you use a tested distribution.</span></a></li><br/>
<li>36 <a target="content" href="log_content.html#WARNING36"><span style="color:orange">WARNING: Unable to get checksum for arm-trusted-firmware SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/secure/arm-trusted-firmware/.git/shallow'</span></a></li><br/>
<li>37 <a target="content" href="log_content.html#WARNING37"><span style="color:orange">WARNING: Unable to get checksum for l-loader SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/secure/l-loader/.git/shallow'</span></a></li><br/>
<li>38 <a target="content" href="log_content.html#WARNING38"><span style="color:orange">WARNING: Unable to get checksum for optee-client SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/secure/optee/optee_client/.git/shallow'</span></a></li><br/>
<li>39 <a target="content" href="log_content.html#WARNING39"><span style="color:orange">WARNING: Unable to get checksum for optee-os SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/secure/optee/optee_os/.git/shallow'</span></a></li><br/>
<li>40 <a target="content" href="log_content.html#WARNING40"><span style="color:orange">WARNING: Unable to get checksum for optee-test SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/secure/optee/optee_test/.git/shallow'</span></a></li><br/>
<li>41 <a target="content" href="log_content.html#WARNING41"><span style="color:orange">WARNING: Unable to get checksum for optee-linuxdriver SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/secure/optee/optee_linuxdriver/.git/shallow'</span></a></li><br/>
<li>42 <a target="content" href="log_content.html#WARNING42"><span style="color:orange">WARNING: Unable to get checksum for s5p6818-avn-ref-bl1 SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/bl1/bl1-s5p6818/.git/shallow'</span></a></li><br/>
<li>43 <a target="content" href="log_content.html#WARNING43"><span style="color:orange">WARNING: Unable to get checksum for s5p6818-avn-ref-uboot SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/u-boot/u-boot-2016.01/.git/shallow'</span></a></li><br/>
<li>44 <a target="content" href="log_content.html#WARNING44"><span style="color:orange">WARNING: Host distribution "Ubuntu-16.04" has not been validated with this version of the build system; you may possibly experience unexpected failures. It is recommended that you use a tested distribution.</span></a></li><br/>
<li>45 <a target="content" href="log_content.html#WARNING45"><span style="color:orange">WARNING: Unable to get checksum for linux-s5p6818-avn-ref SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/kernel/kernel-4.4.19/.git/shallow'</span></a></li><br/>
<li>46 <a target="content" href="log_content.html#WARNING46"><span style="color:orange">WARNING: Unable to get checksum for optee-linuxdriver SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/secure/optee/optee_linuxdriver/.git/shallow'</span></a></li><br/>
<li>47 <a target="content" href="log_content.html#WARNING47"><span style="color:orange">WARNING: Unable to get checksum for optee-build SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/secure/optee/optee_build/.git/shallow'</span></a></li><br/>
<li>48 <a target="content" href="log_content.html#WARNING48"><span style="color:orange">WARNING: Unable to get checksum for arm-trusted-firmware SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/secure/arm-trusted-firmware/.git/shallow'</span></a></li><br/>
<li>49 <a target="content" href="log_content.html#WARNING49"><span style="color:orange">WARNING: Unable to get checksum for l-loader SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/secure/l-loader/.git/shallow'</span></a></li><br/>
<li>50 <a target="content" href="log_content.html#WARNING50"><span style="color:orange">WARNING: Unable to get checksum for optee-os SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/secure/optee/optee_os/.git/shallow'</span></a></li><br/>
<li>51 <a target="content" href="log_content.html#WARNING51"><span style="color:orange">WARNING: Unable to get checksum for optee-client SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/secure/optee/optee_client/.git/shallow'</span></a></li><br/>
<li>52 <a target="content" href="log_content.html#WARNING52"><span style="color:orange">WARNING: Unable to get checksum for optee-test SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/secure/optee/optee_test/.git/shallow'</span></a></li><br/>
<li>53 <a target="content" href="log_content.html#WARNING53"><span style="color:orange">WARNING: Unable to get checksum for s5p6818-avn-ref-uboot SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/u-boot/u-boot-2016.01/.git/shallow'</span></a></li><br/>
<li>54 <a target="content" href="log_content.html#WARNING54"><span style="color:orange">WARNING: Unable to get checksum for s5p6818-avn-ref-bl1 SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/bl1/bl1-s5p6818/.git/shallow'</span></a></li><br/>
<li>55 <a target="content" href="log_content.html#WARNING55"><span style="color:orange">WARNING: Unable to get checksum for gst-plugins-camera SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/library/gst-plugins-camera/.git/shallow'</span></a></li><br/>
<li>56 <a target="content" href="log_content.html#WARNING56"><span style="color:orange">WARNING: Unable to get checksum for gst-plugins-renderer SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/library/gst-plugins-renderer/.git/shallow'</span></a></li><br/>
<li>57 <a target="content" href="log_content.html#WARNING57"><span style="color:orange">WARNING: Unable to get checksum for gst-plugins-scaler SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/library/gst-plugins-scaler/.git/shallow'</span></a></li><br/>
<li>58 <a target="content" href="log_content.html#WARNING58"><span style="color:orange">WARNING: Unable to get checksum for nx-drm-allocator SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/library/nx-drm-allocator/.git/shallow'</span></a></li><br/>
<li>59 <a target="content" href="log_content.html#WARNING59"><span style="color:orange">WARNING: Unable to get checksum for nx-gst-meta SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/library/nx-gst-meta/.git/shallow'</span></a></li><br/>
<li>60 <a target="content" href="log_content.html#WARNING60"><span style="color:orange">WARNING: Unable to get checksum for nx-renderer SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/library/nx-renderer/.git/shallow'</span></a></li><br/>
<li>61 <a target="content" href="log_content.html#WARNING61"><span style="color:orange">WARNING: Unable to get checksum for nx-scaler SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/library/nx-scaler/.git/shallow'</span></a></li><br/>
<li>62 <a target="content" href="log_content.html#WARNING62"><span style="color:orange">WARNING: Unable to get checksum for nx-v4l2 SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/library/nx-v4l2/.git/shallow'</span></a></li><br/>
<li>63 <a target="content" href="log_content.html#WARNING63"><span style="color:orange">WARNING: Unable to get checksum for nx-video-api SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/library/nx-video-api/.git/shallow'</span></a></li><br/>
<li>64 <a target="content" href="log_content.html#WARNING64"><span style="color:orange">WARNING: Unable to get checksum for testsuite-s5p6818 SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/apps/testsuite/.git/shallow'</span></a></li><br/>
<li>65 <a target="content" href="log_content.html#WARNING65"><span style="color:orange">WARNING: Unable to get checksum for libdrm-nx SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_AvnRef_Weekly/library/libdrm/.git/shallow'</span></a></li><br/>
<li>66 <a target="content" href="log_content.html#WARNING66"><span style="color:orange">WARNING: zlib-1.2.8-r0 do_fetch: Failed to fetch URL http://www.zlib.net/zlib-1.2.8.tar.xz, attempting MIRRORS if available</span></a></li><br/>
<li>67 <a target="content" href="log_content.html#WARNING67"><span style="color:orange">WARNING: libpng-native-1.6.21-r0 do_fetch: Failed to fetch URL http://distfiles.gentoo.org/distfiles/libpng-1.6.21.tar.xz, attempting MIRRORS if available</span></a></li><br/>
<li>68 <a target="content" href="log_content.html#WARNING68"><span style="color:orange">WARNING: libpcre-native-8.38-r0 do_fetch: Failed to fetch URL ftp://ftp.csx.cam.ac.uk/pub/software/programming/pcre/pcre-8.38.tar.bz2, attempting MIRRORS if available</span></a></li><br/>
<li>69 <a target="content" href="log_content.html#WARNING69"><span style="color:orange">WARNING: mesa-2_11.1.1-r0 do_fetch: Failed to fetch URL ftp://ftp.freedesktop.org/pub/mesa/11.1.1/mesa-11.1.1.tar.xz, attempting MIRRORS if available</span></a></li><br/>
<li>70 <a target="content" href="log_content.html#WARNING70"><span style="color:orange">WARNING: liberation-fonts-1_1.04-r4 do_fetch: Checksum mismatch for local file /var/jenkins_home/workspace/SW2_AvnRef_Weekly/yocto/build-s5p6818-avn-ref-qt/downloads/liberation-fonts-1.04.tar.gz</span></a></li><br/>
<li>71 <a target="content" href="log_content.html#WARNING71"><span style="color:orange">WARNING: liberation-fonts-1_1.04-r4 do_fetch: Renaming /var/jenkins_home/workspace/SW2_AvnRef_Weekly/yocto/build-s5p6818-avn-ref-qt/downloads/liberation-fonts-1.04.tar.gz to /var/jenkins_home/workspace/SW2_AvnRef_Weekly/yocto/build-s5p6818-avn-ref-qt/downloads/liberation-fonts-1.04.tar.gz_bad-checksum_ac735ded69dd357800ae008fd5bee6a8</span></a></li><br/>
<li>72 <a target="content" href="log_content.html#WARNING72"><span style="color:orange">WARNING: liberation-fonts-1_1.04-r4 do_fetch: Checksum failure encountered with download of https://fedorahosted.org/releases/l/i/liberation-fonts/liberation-fonts-1.04.tar.gz - will attempt other sources if available</span></a></li><br/>
<li>73 <a target="content" href="log_content.html#WARNING73"><span style="color:orange">WARNING: logrotate-3.9.1-r0 do_fetch: Checksum mismatch for local file /var/jenkins_home/workspace/SW2_AvnRef_Weekly/yocto/build-s5p6818-avn-ref-qt/downloads/logrotate-3.9.1.tar.gz</span></a></li><br/>
<li>74 <a target="content" href="log_content.html#WARNING74"><span style="color:orange">WARNING: logrotate-3.9.1-r0 do_fetch: Renaming /var/jenkins_home/workspace/SW2_AvnRef_Weekly/yocto/build-s5p6818-avn-ref-qt/downloads/logrotate-3.9.1.tar.gz to /var/jenkins_home/workspace/SW2_AvnRef_Weekly/yocto/build-s5p6818-avn-ref-qt/downloads/logrotate-3.9.1.tar.gz_bad-checksum_60fb1f7fde9f70fe133bff5c285be671</span></a></li><br/>
<li>75 <a target="content" href="log_content.html#WARNING75"><span style="color:orange">WARNING: logrotate-3.9.1-r0 do_fetch: Checksum failure encountered with download of https://fedorahosted.org/releases/l/o/logrotate/logrotate-3.9.1.tar.gz - will attempt other sources if available</span></a></li><br/>
<li>76 <a target="content" href="log_content.html#WARNING76"><span style="color:orange">WARNING: optee-build-NEXELL-0.1 do_package: optee-build-dev-NEXELL was registered as shlib provider for libteec.so.1.0, changing it to optee-build-NEXELL because it was built later</span></a></li><br/>
<li>77 <a target="content" href="log_content.html#WARNING77"><span style="color:orange">WARNING: weston-1.10.0-r0 do_package_qa: QA Issue: /usr/lib/weston/drm-backend.so contained in package weston requires libgbm.so()(64bit), but no providers found in RDEPENDS_weston? [file-rdeps]</span></a></li><br/>
<li>78 <a target="content" href="log_content.html#WARNING78"><span style="color:orange">WARNING: weston-1.10.0-r0 do_package_qa: QA Issue: /usr/bin/weston-simple-egl contained in package weston-examples requires libEGL.so()(64bit), but no providers found in RDEPENDS_weston-examples? [file-rdeps]</span></a></li><br/>
<li>79 <a target="content" href="log_content.html#WARNING79"><span style="color:orange">WARNING: cogl-1.0-1.22.0-r0 do_package_qa: QA Issue: /usr/lib/libcogl-path.so.20.4.1 contained in package libcogl-path requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_libcogl-path? [file-rdeps]</span></a></li><br/>
<li>80 <a target="content" href="log_content.html#WARNING80"><span style="color:orange">WARNING: cogl-1.0-1.22.0-r0 do_package_qa: QA Issue: /usr/bin/cogl-gles2-gears contained in package cogl-1.0-examples requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_cogl-1.0-examples? [file-rdeps]</span></a></li><br/>
<li>81 <a target="content" href="log_content.html#WARNING81"><span style="color:orange">WARNING: cogl-1.0-1.22.0-r0 do_package_qa: QA Issue: /usr/lib/libcogl.so.20.4.1 contained in package libcogl requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_libcogl? [file-rdeps]</span></a></li><br/>
<li>82 <a target="content" href="log_content.html#WARNING82"><span style="color:orange">WARNING: cogl-1.0-1.22.0-r0 do_package_qa: QA Issue: /usr/lib/libcogl-pango.so.20.4.1 contained in package libcogl-pango requires libEGL.so()(64bit), but no providers found in RDEPENDS_libcogl-pango? [file-rdeps]</span></a></li><br/>
<li>83 <a target="content" href="log_content.html#WARNING83"><span style="color:orange">WARNING: testsuite-s5p6818-NEXELL-0.1 do_package_qa: QA Issue: testsuite-s5p6818: /testsuite-s5p6818/usr/lib/libavcodec.so.56.60.100 is owned by uid 1000, which is the same as the user running bitbake. This may be due to host contamination</span></a></li><br/>
<li>84 <a target="content" href="log_content.html#WARNING84"><span style="color:orange">WARNING: testsuite-s5p6818-NEXELL-0.1 do_package_qa: QA Issue: /usr/bin/gsttest/nxscaler/test_74.sh contained in package testsuite-s5p6818 requires /bin/bash, but no providers found in RDEPENDS_testsuite-s5p6818? [file-rdeps]</span></a></li><br/>
<li>85 <a target="content" href="log_content.html#WARNING85"><span style="color:orange">WARNING: gtk+3-3.18.8-r0 do_package_qa: QA Issue: /usr/lib/gtk-3.0/3.0.0/immodules/im-viqr.so contained in package gtk3-immodule-viqr requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_gtk3-immodule-viqr? [file-rdeps]</span></a></li><br/>
<li>86 <a target="content" href="log_content.html#WARNING86"><span style="color:orange">WARNING: mx-1.0-1.4.7+gitAUTOINC+9b1db6b806-r0 do_package_qa: QA Issue: /usr/lib/libmx-1.0.so.2.405.0 contained in package mx-1.0 requires libEGL.so()(64bit), but no providers found in RDEPENDS_mx-1.0? [file-rdeps]</span></a></li><br/>
<li>87 <a target="content" href="log_content.html#WARNING87"><span style="color:orange">WARNING: gtk+3-3.18.8-r0 do_package_qa: QA Issue: /usr/lib/gtk-3.0/3.0.0/immodules/im-cedilla.so contained in package gtk3-immodule-cedilla requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_gtk3-immodule-cedilla? [file-rdeps]</span></a></li><br/>
<li>88 <a target="content" href="log_content.html#WARNING88"><span style="color:orange">WARNING: gtk+3-3.18.8-r0 do_package_qa: QA Issue: /usr/lib/gtk-3.0/3.0.0/immodules/im-cyrillic-translit.so contained in package gtk3-immodule-cyrillic-translit requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_gtk3-immodule-cyrillic-translit? [file-rdeps]</span></a></li><br/>
<li>89 <a target="content" href="log_content.html#WARNING89"><span style="color:orange">WARNING: gtk+3-3.18.8-r0 do_package_qa: QA Issue: /usr/lib/gtk-3.0/3.0.0/printbackends/libprintbackend-file.so contained in package gtk3-printbackend-file requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_gtk3-printbackend-file? [file-rdeps]</span></a></li><br/>
<li>90 <a target="content" href="log_content.html#WARNING90"><span style="color:orange">WARNING: gtk+3-3.18.8-r0 do_package_qa: QA Issue: /usr/lib/gtk-3.0/3.0.0/immodules/im-ti-et.so contained in package gtk3-immodule-ti-et requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_gtk3-immodule-ti-et? [file-rdeps]</span></a></li><br/>
<li>91 <a target="content" href="log_content.html#WARNING91"><span style="color:orange">WARNING: gtk+3-3.18.8-r0 do_package_qa: QA Issue: /usr/lib/gtk-3.0/3.0.0/immodules/im-ti-er.so contained in package gtk3-immodule-ti-er requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_gtk3-immodule-ti-er? [file-rdeps]</span></a></li><br/>
<li>92 <a target="content" href="log_content.html#WARNING92"><span style="color:orange">WARNING: gtk+3-3.18.8-r0 do_package_qa: QA Issue: /usr/lib/gtk-3.0/3.0.0/printbackends/libprintbackend-lpr.so contained in package gtk3-printbackend-lpr requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_gtk3-printbackend-lpr? [file-rdeps]</span></a></li><br/>
<li>93 <a target="content" href="log_content.html#WARNING93"><span style="color:orange">WARNING: clutter-1.0-1.24.2-r0 do_package_qa: QA Issue: /usr/lib/libclutter-1.0.so.0.2400.2 contained in package clutter-1.0 requires libEGL.so()(64bit), but no providers found in RDEPENDS_clutter-1.0? [file-rdeps]</span></a></li><br/>
<li>94 <a target="content" href="log_content.html#WARNING94"><span style="color:orange">WARNING: gtk+3-3.18.8-r0 do_package_qa: QA Issue: /usr/lib/gtk-3.0/3.0.0/immodules/im-am-et.so contained in package gtk3-immodule-am-et requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_gtk3-immodule-am-et? [file-rdeps]</span></a></li><br/>
<li>95 <a target="content" href="log_content.html#WARNING95"><span style="color:orange">WARNING: gtk+3-3.18.8-r0 do_package_qa: QA Issue: /usr/lib/gtk-3.0/3.0.0/immodules/im-thai.so contained in package gtk3-immodule-thai requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_gtk3-immodule-thai? [file-rdeps]</span></a></li><br/>
<li>96 <a target="content" href="log_content.html#WARNING96"><span style="color:orange">WARNING: gtk+3-3.18.8-r0 do_package_qa: QA Issue: /usr/lib/gtk-3.0/3.0.0/immodules/im-inuktitut.so contained in package gtk3-immodule-inuktitut requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_gtk3-immodule-inuktitut? [file-rdeps]</span></a></li><br/>
<li>97 <a target="content" href="log_content.html#WARNING97"><span style="color:orange">WARNING: gtk+3-3.18.8-r0 do_package_qa: QA Issue: /usr/lib/libgailutil-3.so.0.0.0 contained in package gtk+3 requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_gtk+3? [file-rdeps]</span></a></li><br/>
<li>98 <a target="content" href="log_content.html#WARNING98"><span style="color:orange">WARNING: gtk+3-3.18.8-r0 do_package_qa: QA Issue: /usr/lib/gtk-3.0/3.0.0/immodules/im-multipress.so contained in package gtk3-immodule-multipress requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_gtk3-immodule-multipress? [file-rdeps]</span></a></li><br/>
<li>99 <a target="content" href="log_content.html#WARNING99"><span style="color:orange">WARNING: gtk+3-3.18.8-r0 do_package_qa: QA Issue: /usr/lib/gtk-3.0/3.0.0/immodules/im-ipa.so contained in package gtk3-immodule-ipa requires libwayland-egl.so()(64bit), but no providers found in RDEPENDS_gtk3-immodule-ipa? [file-rdeps]</span></a></li><br/>
<li>100 <a target="content" href="log_content.html#WARNING100"><span style="color:orange">WARNING: gstreamer1.0-plugins-bad-1.6.3-r0 do_package_qa: QA Issue: /usr/lib/libgstgl-1.0.so.0.603.0 contained in package libgstgl-1.0 requires libGLESv2.so()(64bit), but no providers found in RDEPENDS_libgstgl-1.0? [file-rdeps]</span></a></li><br/>
<li>101 <a target="content" href="log_content.html#WARNING101"><span style="color:orange">WARNING: gstreamer1.0-plugins-bad-1.6.3-r0 do_package_qa: QA Issue: /usr/lib/gstreamer-1.0/libgstopengl.so contained in package gstreamer1.0-plugins-bad-opengl requires libEGL.so()(64bit), but no providers found in RDEPENDS_gstreamer1.0-plugins-bad-opengl? [file-rdeps]</span></a></li><br/>
<li>102 <a target="content" href="log_content.html#WARNING102"><span style="color:orange">WARNING: qtbase-5.7.0+gitAUTOINC+69b43e74d7-r0 do_package_qa: QA Issue: /usr/share/qt5/examples/widgets/windowcontainer/windowcontainer contained in package qtbase-examples requires libGLESv2.so()(64bit), but no providers found in RDEPENDS_qtbase-examples? [file-rdeps]</span></a></li><br/>
<li>103 <a target="content" href="log_content.html#WARNING103"><span style="color:orange">WARNING: qtdeclarative-5.7.0+gitAUTOINC+d48b397cc7-r0 do_package_qa: QA Issue: /usr/lib/libQt5Quick.so.5.7.0 contained in package qtdeclarative requires libGLESv2.so()(64bit), but no providers found in RDEPENDS_qtdeclarative? [file-rdeps]</span></a></li><br/>
<li>104 <a target="content" href="log_content.html#WARNING104"><span style="color:orange">WARNING: qtgraphicaleffects-5.7.0+gitAUTOINC+d3023be0d8-r0 do_package_qa: QA Issue: /usr/lib/qt5/qml/QtGraphicalEffects/private/libqtgraphicaleffectsprivate.so contained in package qtgraphicaleffects-qmlplugins requires libGLESv2.so()(64bit), but no providers found in RDEPENDS_qtgraphicaleffects-qmlplugins? [file-rdeps]</span></a></li><br/>
<li>105 <a target="content" href="log_content.html#WARNING105"><span style="color:orange">WARNING: qtwayland-5.7.0+gitAUTOINC+a172672484-r0 do_package_qa: QA Issue: /usr/lib/libQt5WaylandCompositor.so.5.7.0 contained in package qtwayland requires libGLESv2.so()(64bit), but no providers found in RDEPENDS_qtwayland? [file-rdeps]</span></a></li><br/>
<li>106 <a target="content" href="log_content.html#WARNING106"><span style="color:orange">WARNING: qtwayland-5.7.0+gitAUTOINC+a172672484-r0 do_package_qa: QA Issue: /usr/share/qt5/examples/wayland/server-buffer/client/client contained in package qtwayland-examples requires libEGL.so()(64bit), but no providers found in RDEPENDS_qtwayland-examples? [file-rdeps]</span></a></li><br/>
<li>107 <a target="content" href="log_content.html#WARNING107"><span style="color:orange">WARNING: qtbase-5.7.0+gitAUTOINC+69b43e74d7-r0 do_package_qa: QA Issue: /usr/lib/qt5/plugins/platforms/libqminimalegl.so contained in package qtbase-plugins requires libEGL.so()(64bit), but no providers found in RDEPENDS_qtbase-plugins? [file-rdeps]</span></a></li><br/>
<li>108 <a target="content" href="log_content.html#WARNING108"><span style="color:orange">WARNING: qtbase-5.7.0+gitAUTOINC+69b43e74d7-r0 do_package_qa: QA Issue: /usr/lib/libQt5EglFsKmsSupport.so.5.7.0 contained in package qtbase requires libEGL.so()(64bit), but no providers found in RDEPENDS_qtbase? [file-rdeps]</span></a></li><br/>
<li>109 <a target="content" href="log_content.html#WARNING109"><span style="color:orange">WARNING: qtmultimedia-5.7.0+gitAUTOINC+1be4f74843-r0 do_package_qa: QA Issue: /usr/lib/libQt5MultimediaQuick_p.so.5.7.0 contained in package qtmultimedia requires libGLESv2.so()(64bit), but no providers found in RDEPENDS_qtmultimedia? [file-rdeps]</span></a></li><br/>
<li>110 <a target="content" href="log_content.html#WARNING110"><span style="color:orange">WARNING: qtdeclarative-5.7.0+gitAUTOINC+d48b397cc7-r0 do_package_qa: QA Issue: /usr/share/qt5/examples/quick/scenegraph/textureinthread/textureinthread contained in package qtdeclarative-examples requires libGLESv2.so()(64bit), but no providers found in RDEPENDS_qtdeclarative-examples? [file-rdeps]</span></a></li><br/>
<li>111 <a target="content" href="log_content.html#WARNING111"><span style="color:orange">WARNING: qtmultimedia-5.7.0+gitAUTOINC+1be4f74843-r0 do_package_qa: QA Issue: /usr/lib/qt5/plugins/video/videonode/libeglvideonode.so contained in package qtmultimedia-plugins requires libGLESv2.so()(64bit), but no providers found in RDEPENDS_qtmultimedia-plugins? [file-rdeps]</span></a></li><br/>
<li>112 <a target="content" href="log_content.html#WARNING112"><span style="color:orange">WARNING: qtdeclarative-5.7.0+gitAUTOINC+d48b397cc7-r0 do_package_qa: QA Issue: /usr/bin/qt5/qmlscene contained in package qtdeclarative-tools requires libGLESv2.so()(64bit), but no providers found in RDEPENDS_qtdeclarative-tools? [file-rdeps]</span></a></li><br/>
<li>113 <a target="content" href="log_content.html#WARNING113"><span style="color:orange">WARNING: qtwebkit-5.7.0+gitAUTOINC+76e2732f01-r0 do_package_qa: QA Issue: /usr/lib/libQt5WebKit.so.5.7.0 contained in package qtwebkit requires libEGL.so()(64bit), but no providers found in RDEPENDS_qtwebkit? [file-rdeps]</span></a></li><br/>
<li>114 <a target="content" href="log_content.html#WARNING114"><span style="color:orange">WARNING: podonamu-1.0-r1 do_package_qa: QA Issue: Symlink /lib/systemd/system/multi-user.target.wants/podonamu.service in podonamu points to TMPDIR [symlink-to-sysroot]</span></a></li><br/>
<li>115 <a target="content" href="log_content.html#WARNING115"><span style="color:orange">WARNING: podonamu-1.0-r1 do_package_qa: QA Issue: /podo/apps/pdwindowcompositor/pdwindowcompositor contained in package podonamu requires libGLESv2.so()(64bit), but no providers found in RDEPENDS_podonamu? [file-rdeps]</span></a></li><br/>
<li>116 <a target="content" href="log_content.html#WARNING116"><span style="color:orange">WARNING: qtquick1-5.7.0+gitAUTOINC+857fc5ec46-r0 do_package_qa: QA Issue: /usr/lib/qt5/imports/Qt/labs/shaders/libqmlshadersplugin.so contained in package qtquick1-qmlplugins requires libGLESv2.so()(64bit), but no providers found in RDEPENDS_qtquick1-qmlplugins? [file-rdeps]</span></a></li><br/>
<li>117 <a target="content" href="log_content.html#WARNING117"><span style="color:orange">WARNING: s5p6818-avn-ref-qt-1.0-r0 do_rootfs: The license listed LGPLv2.1 was not in the licenses collected for recipe touchpoints</span></a></li><br/>
<li>118 <a target="content" href="log_content.html#WARNING118"><span style="color:orange">WARNING: s5p6818-avn-ref-qt-1.0-r0 do_rootfs: [log_check] s5p6818-avn-ref-qt: found a warning message in the logfile (keyword 'WARNING:'):</span></a></li><br/>
<li>119 <a target="content" href="log_content.html#WARNING119"><span style="color:orange">[log_check] WARNING: The license listed LGPLv2.1 was not in the licenses collected for recipe touchpoints</span></a></li><br/>
