HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#WARNING1"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#WARNING2"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>3 <a target="content" href="log_content.html#WARNING3"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>4 <a target="content" href="log_content.html#WARNING4"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>5 <a target="content" href="log_content.html#WARNING5"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>6 <a target="content" href="log_content.html#WARNING6"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>7 <a target="content" href="log_content.html#WARNING7"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>8 <a target="content" href="log_content.html#WARNING8"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>9 <a target="content" href="log_content.html#WARNING9"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>10 <a target="content" href="log_content.html#WARNING10"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>11 <a target="content" href="log_content.html#WARNING11"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>12 <a target="content" href="log_content.html#WARNING12"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>13 <a target="content" href="log_content.html#WARNING13"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>14 <a target="content" href="log_content.html#WARNING14"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>15 <a target="content" href="log_content.html#WARNING15"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>16 <a target="content" href="log_content.html#WARNING16"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>17 <a target="content" href="log_content.html#WARNING17"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>18 <a target="content" href="log_content.html#WARNING18"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>19 <a target="content" href="log_content.html#WARNING19"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>20 <a target="content" href="log_content.html#WARNING20"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>21 <a target="content" href="log_content.html#WARNING21"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>22 <a target="content" href="log_content.html#WARNING22"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>23 <a target="content" href="log_content.html#WARNING23"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>24 <a target="content" href="log_content.html#WARNING24"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>25 <a target="content" href="log_content.html#WARNING25"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>26 <a target="content" href="log_content.html#WARNING26"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>27 <a target="content" href="log_content.html#WARNING27"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>28 <a target="content" href="log_content.html#WARNING28"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>29 <a target="content" href="log_content.html#WARNING29"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>30 <a target="content" href="log_content.html#WARNING30"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>31 <a target="content" href="log_content.html#WARNING31"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>32 <a target="content" href="log_content.html#WARNING32"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>33 <a target="content" href="log_content.html#WARNING33"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>34 <a target="content" href="log_content.html#WARNING34"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>35 <a target="content" href="log_content.html#WARNING35"><span style="color:orange">WARNING: Host distribution "Ubuntu-16.04" has not been validated with this version of the build system; you may possibly experience unexpected failures. It is recommended that you use a tested distribution.</span></a></li><br/>
<li>36 <a target="content" href="log_content.html#WARNING36"><span style="color:orange">WARNING: Unable to get checksum for linux-s5p4418-smart-voice SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/kernel/kernel-4.4.19/.git/shallow'</span></a></li><br/>
<li>37 <a target="content" href="log_content.html#WARNING37"><span style="color:orange">WARNING: Unable to get checksum for NxAudioPlayer SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/apps/QT/NxAudioPlayer/.git/shallow'</span></a></li><br/>
<li>38 <a target="content" href="log_content.html#WARNING38"><span style="color:orange">WARNING: Unable to get checksum for NxQuickRearCam SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/apps/QT/NxQuickRearCam/.git/shallow'</span></a></li><br/>
<li>39 <a target="content" href="log_content.html#WARNING39"><span style="color:orange">WARNING: Unable to get checksum for NxVideoPlayer SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/apps/QT/NxVideoPlayer/.git/shallow'</span></a></li><br/>
<li>40 <a target="content" href="log_content.html#WARNING40"><span style="color:orange">WARNING: Unable to get checksum for s5p4418-smart-voice-uboot SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/u-boot/u-boot-2016.01/.git/shallow'</span></a></li><br/>
<li>41 <a target="content" href="log_content.html#WARNING41"><span style="color:orange">WARNING: Unable to get checksum for s5p4418-smart-voice-bl1 SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/bl1/bl1-s5p4418/.git/shallow'</span></a></li><br/>
<li>42 <a target="content" href="log_content.html#WARNING42"><span style="color:orange">WARNING: Unable to get checksum for nx-video-api SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/library/nx-video-api/.git/shallow'</span></a></li><br/>
<li>43 <a target="content" href="log_content.html#WARNING43"><span style="color:orange">WARNING: Unable to get checksum for nx-v4l2 SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/library/nx-v4l2/.git/shallow'</span></a></li><br/>
<li>44 <a target="content" href="log_content.html#WARNING44"><span style="color:orange">WARNING: Unable to get checksum for gst-plugins-camera SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/library/gst-plugins-camera/.git/shallow'</span></a></li><br/>
<li>45 <a target="content" href="log_content.html#WARNING45"><span style="color:orange">WARNING: Unable to get checksum for gst-plugins-renderer SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/library/gst-plugins-renderer/.git/shallow'</span></a></li><br/>
<li>46 <a target="content" href="log_content.html#WARNING46"><span style="color:orange">WARNING: Unable to get checksum for gst-plugins-scaler SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/library/gst-plugins-scaler/.git/shallow'</span></a></li><br/>
<li>47 <a target="content" href="log_content.html#WARNING47"><span style="color:orange">WARNING: Unable to get checksum for nx-drm-allocator SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/library/nx-drm-allocator/.git/shallow'</span></a></li><br/>
<li>48 <a target="content" href="log_content.html#WARNING48"><span style="color:orange">WARNING: Unable to get checksum for nx-gst-meta SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/library/nx-gst-meta/.git/shallow'</span></a></li><br/>
<li>49 <a target="content" href="log_content.html#WARNING49"><span style="color:orange">WARNING: Unable to get checksum for nx-renderer SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/library/nx-renderer/.git/shallow'</span></a></li><br/>
<li>50 <a target="content" href="log_content.html#WARNING50"><span style="color:orange">WARNING: Unable to get checksum for nx-scaler SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/library/nx-scaler/.git/shallow'</span></a></li><br/>
<li>51 <a target="content" href="log_content.html#WARNING51"><span style="color:orange">WARNING: Unable to get checksum for libdrm-nx SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/library/libdrm/.git/shallow'</span></a></li><br/>
<li>52 <a target="content" href="log_content.html#WARNING52"><span style="color:orange">WARNING: automake-native-1.15-r0 do_fetch: Checksum mismatch for local file /var/jenkins_home/workspace/SW2_SmartVoice_Weekly/yocto/build-s5p4418-smart-voice-smartvoice/downloads/automake-1.15.tar.gz</span></a></li><br/>
<li>53 <a target="content" href="log_content.html#WARNING53"><span style="color:orange">WARNING: automake-native-1.15-r0 do_fetch: Renaming /var/jenkins_home/workspace/SW2_SmartVoice_Weekly/yocto/build-s5p4418-smart-voice-smartvoice/downloads/automake-1.15.tar.gz to /var/jenkins_home/workspace/SW2_SmartVoice_Weekly/yocto/build-s5p4418-smart-voice-smartvoice/downloads/automake-1.15.tar.gz_bad-checksum_2e4eee972c37bbd40356f8c4ca18660b</span></a></li><br/>
<li>54 <a target="content" href="log_content.html#WARNING54"><span style="color:orange">WARNING: automake-native-1.15-r0 do_fetch: Checksum failure encountered with download of http://ftp.gnu.org/gnu/automake/automake-1.15.tar.gz - will attempt other sources if available</span></a></li><br/>
<li>55 <a target="content" href="log_content.html#WARNING55"><span style="color:orange">WARNING: libpng-native-1.6.21-r0 do_fetch: Failed to fetch URL http://distfiles.gentoo.org/distfiles/libpng-1.6.21.tar.xz, attempting MIRRORS if available</span></a></li><br/>
<li>56 <a target="content" href="log_content.html#WARNING56"><span style="color:orange">WARNING: zlib-1.2.8-r0 do_fetch: Failed to fetch URL http://www.zlib.net/zlib-1.2.8.tar.xz, attempting MIRRORS if available</span></a></li><br/>
<li>57 <a target="content" href="log_content.html#WARNING57"><span style="color:orange">WARNING: libpcre-native-8.38-r0 do_fetch: Failed to fetch URL ftp://ftp.csx.cam.ac.uk/pub/software/programming/pcre/pcre-8.38.tar.bz2, attempting MIRRORS if available</span></a></li><br/>
<li>58 <a target="content" href="log_content.html#WARNING58"><span style="color:orange">WARNING: mesa-2_11.1.1-r0 do_fetch: Failed to fetch URL ftp://ftp.freedesktop.org/pub/mesa/11.1.1/mesa-11.1.1.tar.xz, attempting MIRRORS if available</span></a></li><br/>
<li>59 <a target="content" href="log_content.html#WARNING59"><span style="color:orange">WARNING: liberation-fonts-1_1.04-r4 do_fetch: Checksum mismatch for local file /var/jenkins_home/workspace/SW2_SmartVoice_Weekly/yocto/build-s5p4418-smart-voice-smartvoice/downloads/liberation-fonts-1.04.tar.gz</span></a></li><br/>
<li>60 <a target="content" href="log_content.html#WARNING60"><span style="color:orange">WARNING: liberation-fonts-1_1.04-r4 do_fetch: Renaming /var/jenkins_home/workspace/SW2_SmartVoice_Weekly/yocto/build-s5p4418-smart-voice-smartvoice/downloads/liberation-fonts-1.04.tar.gz to /var/jenkins_home/workspace/SW2_SmartVoice_Weekly/yocto/build-s5p4418-smart-voice-smartvoice/downloads/liberation-fonts-1.04.tar.gz_bad-checksum_307fbff0396e22adafc27c0a6ec340b2</span></a></li><br/>
<li>61 <a target="content" href="log_content.html#WARNING61"><span style="color:orange">WARNING: liberation-fonts-1_1.04-r4 do_fetch: Checksum failure encountered with download of https://fedorahosted.org/releases/l/i/liberation-fonts/liberation-fonts-1.04.tar.gz - will attempt other sources if available</span></a></li><br/>
<li>62 <a target="content" href="log_content.html#WARNING62"><span style="color:orange">WARNING: logrotate-3.9.1-r0 do_fetch: Checksum mismatch for local file /var/jenkins_home/workspace/SW2_SmartVoice_Weekly/yocto/build-s5p4418-smart-voice-smartvoice/downloads/logrotate-3.9.1.tar.gz</span></a></li><br/>
<li>63 <a target="content" href="log_content.html#WARNING63"><span style="color:orange">WARNING: logrotate-3.9.1-r0 do_fetch: Renaming /var/jenkins_home/workspace/SW2_SmartVoice_Weekly/yocto/build-s5p4418-smart-voice-smartvoice/downloads/logrotate-3.9.1.tar.gz to /var/jenkins_home/workspace/SW2_SmartVoice_Weekly/yocto/build-s5p4418-smart-voice-smartvoice/downloads/logrotate-3.9.1.tar.gz_bad-checksum_cc2eee43580d33973d94b969c28348fc</span></a></li><br/>
<li>64 <a target="content" href="log_content.html#WARNING64"><span style="color:orange">WARNING: logrotate-3.9.1-r0 do_fetch: Checksum failure encountered with download of https://fedorahosted.org/releases/l/o/logrotate/logrotate-3.9.1.tar.gz - will attempt other sources if available</span></a></li><br/>
<li>65 <a target="content" href="log_content.html#WARNING65"><span style="color:orange">WARNING: x264-r2491+gitAUTOINC+c8a773ebfc-r0 do_package_qa: QA Issue: ELF binary '/var/jenkins_home/workspace/SW2_SmartVoice_Weekly/yocto/build-s5p4418-smart-voice-smartvoice/tmp/work/cortexa9hf-neon-poky-linux-gnueabi/x264/r2491+gitAUTOINC+c8a773ebfc-r0/packages-split/x264/usr/lib/libx264.so.144' has relocations in .text [textrel]</span></a></li><br/>
<li>66 <a target="content" href="log_content.html#WARNING66"><span style="color:orange">WARNING: gstreamer1.0-plugins-bad-1.6.3-r0 do_package_qa: QA Issue: /usr/lib/libgstgl-1.0.so.0.603.0 contained in package libgstgl-1.0 requires libwayland-egl.so, but no providers found in RDEPENDS_libgstgl-1.0? [file-rdeps]</span></a></li><br/>
<li>67 <a target="content" href="log_content.html#WARNING67"><span style="color:orange">WARNING: gstreamer1.0-plugins-bad-1.6.3-r0 do_package_qa: QA Issue: /usr/lib/gstreamer-1.0/libgstopengl.so contained in package gstreamer1.0-plugins-bad-opengl requires libwayland-egl.so, but no providers found in RDEPENDS_gstreamer1.0-plugins-bad-opengl? [file-rdeps]</span></a></li><br/>
<li>68 <a target="content" href="log_content.html#WARNING68"><span style="color:orange">WARNING: qtbase-5.7.0+gitAUTOINC+69b43e74d7-r0 do_package_qa: QA Issue: /usr/share/qt5/examples/widgets/windowcontainer/windowcontainer contained in package qtbase-examples requires libGLESv2.so, but no providers found in RDEPENDS_qtbase-examples? [file-rdeps]</span></a></li><br/>
<li>69 <a target="content" href="log_content.html#WARNING69"><span style="color:orange">WARNING: qtdeclarative-5.7.0+gitAUTOINC+d48b397cc7-r0 do_package_qa: QA Issue: /usr/lib/libQt5Quick.so.5.7.0 contained in package qtdeclarative requires libGLESv2.so, but no providers found in RDEPENDS_qtdeclarative? [file-rdeps]</span></a></li><br/>
<li>70 <a target="content" href="log_content.html#WARNING70"><span style="color:orange">WARNING: qtwayland-5.7.0+gitAUTOINC+a172672484-r0 do_package_qa: QA Issue: /usr/lib/libQt5WaylandCompositor.so.5.7.0 contained in package qtwayland requires libGLESv2.so, but no providers found in RDEPENDS_qtwayland? [file-rdeps]</span></a></li><br/>
<li>71 <a target="content" href="log_content.html#WARNING71"><span style="color:orange">WARNING: qtwayland-5.7.0+gitAUTOINC+a172672484-r0 do_package_qa: QA Issue: /usr/share/qt5/examples/wayland/qwindow-compositor/qwindow-compositor contained in package qtwayland-examples requires libGLESv2.so, but no providers found in RDEPENDS_qtwayland-examples? [file-rdeps]</span></a></li><br/>
<li>72 <a target="content" href="log_content.html#WARNING72"><span style="color:orange">WARNING: NxQuickRearCam-NEXELL-0.1 do_package_qa: QA Issue: /podo/apps/NxQuickRearCam/NxQuickRearCam contained in package NxQuickRearCam requires libQt5Widgets.so.5, but no providers found in RDEPENDS_NxQuickRearCam? [file-rdeps]</span></a></li><br/>
<li>73 <a target="content" href="log_content.html#WARNING73"><span style="color:orange">WARNING: NxAudioPlayer-NEXELL-0.1 do_package_qa: QA Issue: /podo/apps/NxAudioPlayer/NxAudioPlayer contained in package NxAudioPlayer requires libQt5Gui.so.5(Qt_5), but no providers found in RDEPENDS_NxAudioPlayer? [file-rdeps]</span></a></li><br/>
<li>74 <a target="content" href="log_content.html#WARNING74"><span style="color:orange">WARNING: NxVideoPlayer-NEXELL-0.1 do_package_qa: QA Issue: /podo/apps/NxVideoPlayer/NxVideoPlayer contained in package NxVideoPlayer requires libQt5Gui.so.5(Qt_5), but no providers found in RDEPENDS_NxVideoPlayer? [file-rdeps]</span></a></li><br/>
<li>75 <a target="content" href="log_content.html#WARNING75"><span style="color:orange">WARNING: qtmultimedia-5.7.0+gitAUTOINC+1be4f74843-r0 do_package_qa: QA Issue: /usr/lib/libQt5MultimediaQuick_p.so.5.7.0 contained in package qtmultimedia requires libGLESv2.so, but no providers found in RDEPENDS_qtmultimedia? [file-rdeps]</span></a></li><br/>
<li>76 <a target="content" href="log_content.html#WARNING76"><span style="color:orange">WARNING: qtmultimedia-5.7.0+gitAUTOINC+1be4f74843-r0 do_package_qa: QA Issue: /usr/lib/qt5/plugins/video/videonode/libeglvideonode.so contained in package qtmultimedia-plugins requires libGLESv2.so, but no providers found in RDEPENDS_qtmultimedia-plugins? [file-rdeps]</span></a></li><br/>
<li>77 <a target="content" href="log_content.html#WARNING77"><span style="color:orange">WARNING: qtdeclarative-5.7.0+gitAUTOINC+d48b397cc7-r0 do_package_qa: QA Issue: /usr/share/qt5/examples/quick/scenegraph/textureinthread/textureinthread contained in package qtdeclarative-examples requires libGLESv2.so, but no providers found in RDEPENDS_qtdeclarative-examples? [file-rdeps]</span></a></li><br/>
<li>78 <a target="content" href="log_content.html#WARNING78"><span style="color:orange">WARNING: qtdeclarative-5.7.0+gitAUTOINC+d48b397cc7-r0 do_package_qa: QA Issue: /usr/bin/qt5/qmlscene contained in package qtdeclarative-tools requires libGLESv2.so, but no providers found in RDEPENDS_qtdeclarative-tools? [file-rdeps]</span></a></li><br/>
<li>79 <a target="content" href="log_content.html#WARNING79"><span style="color:orange">WARNING: qtbase-5.7.0+gitAUTOINC+69b43e74d7-r0 do_package_qa: QA Issue: /usr/lib/qt5/plugins/egldeviceintegrations/libqeglfs-kms-integration.so contained in package qtbase-plugins requires libgbm.so, but no providers found in RDEPENDS_qtbase-plugins? [file-rdeps]</span></a></li><br/>
<li>80 <a target="content" href="log_content.html#WARNING80"><span style="color:orange">WARNING: qtbase-5.7.0+gitAUTOINC+69b43e74d7-r0 do_package_qa: QA Issue: /usr/lib/libQt5Gui.so.5.7.0 contained in package qtbase requires libGLESv2.so, but no providers found in RDEPENDS_qtbase? [file-rdeps]</span></a></li><br/>
