HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#WARNING1"><span style="color:orange">src/devices/pmic/pmic.c:25:2: warning: implicit declaration of function 'pmic_board_init' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#WARNING2"><span style="color:orange">src/devices/pmic/pmic.c:26:2: warning: implicit declaration of function 'DMC_Delay' [-Wimplicit-function-declaration]</span></a></li><br/>
