HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#WARNING1"><span style="color:orange">src/boot/iUSBBOOT.c:428:22: warning: cast to pointer from integer of different size [-Wint-to-pointer-cast]</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#WARNING2"><span style="color:orange">src/boot/iUSBBOOT.c:814:9: warning: passing argument 1 of 'usb_memcpy' makes pointer from integer without a cast [enabled by default]</span></a></li><br/>
<li>3 <a target="content" href="log_content.html#WARNING3"><span style="color:orange">src/boot/iUSBBOOT.c:817:9: warning: passing argument 1 of 'usb_memcpy' makes pointer from integer without a cast [enabled by default]</span></a></li><br/>
<li>4 <a target="content" href="log_content.html#WARNING4"><span style="color:orange">src/boot/iSDHCBOOT.c:1087:26: warning: cast to pointer from integer of different size [-Wint-to-pointer-cast]</span></a></li><br/>
<li>5 <a target="content" href="log_content.html#WARNING5"><span style="color:orange">src/boot/iSDHCBOOT.c:1106:9: warning: cast to pointer from integer of different size [-Wint-to-pointer-cast]</span></a></li><br/>
<li>6 <a target="content" href="log_content.html#WARNING6"><span style="color:orange">src/boot/iSDHCBOOT.c:1121:11: warning: cast to pointer from integer of different size [-Wint-to-pointer-cast]</span></a></li><br/>
<li>7 <a target="content" href="log_content.html#WARNING7"><span style="color:orange">src/boot/iSDHCBOOT.c:1122:4: warning: cast to pointer from integer of different size [-Wint-to-pointer-cast]</span></a></li><br/>
