HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#ERROR1"><span style="color:red">error: could not apply cea03e0... bl2: fixed build errors</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#ERROR2"><span style="color:red">src/iSDHCBOOT.c:29:30: error: unknown type name 'cbool'</span></a></li><br/>
<li>3 <a target="content" href="log_content.html#ERROR3"><span style="color:red">src/iSDHCBOOT.c:40:2: error: 'RI_SDMMC0_MODULE_i_nRST' undeclared here (not in a function)</span></a></li><br/>
<li>4 <a target="content" href="log_content.html#ERROR4"><span style="color:red">src/iSDHCBOOT.c:41:2: error: 'RI_SDMMC1_MODULE_i_nRST' undeclared here (not in a function)</span></a></li><br/>
<li>5 <a target="content" href="log_content.html#ERROR5"><span style="color:red">src/iSDHCBOOT.c:42:2: error: 'RI_SDMMC2_MODULE_i_nRST' undeclared here (not in a function)</span></a></li><br/>
<li>6 <a target="content" href="log_content.html#ERROR6"><span style="color:red">src/iSDHCBOOT.c:59:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>7 <a target="content" href="log_content.html#ERROR7"><span style="color:red">src/iSDHCBOOT.c:63:2: error: unknown type name 'cbool'</span></a></li><br/>
<li>8 <a target="content" href="log_content.html#ERROR8"><span style="color:red">src/iSDHCBOOT.c:96:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>9 <a target="content" href="log_content.html#ERROR9"><span style="color:red">src/iSDHCBOOT.c:97:5: error: unknown type name 'cbool'</span></a></li><br/>
<li>10 <a target="content" href="log_content.html#ERROR10"><span style="color:red">src/iSDHCBOOT.c:460:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>11 <a target="content" href="log_content.html#ERROR11"><span style="color:red">src/iSDHCBOOT.c:660:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>12 <a target="content" href="log_content.html#ERROR12"><span style="color:red">src/iSDHCBOOT.c:678:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>13 <a target="content" href="log_content.html#ERROR13"><span style="color:red">src/iSDHCBOOT.c:680:3: error: unknown type name 'cbool'</span></a></li><br/>
<li>14 <a target="content" href="log_content.html#ERROR14"><span style="color:red">src/iSDHCBOOT.c:698:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>15 <a target="content" href="log_content.html#ERROR15"><span style="color:red">src/iSDHCBOOT.c:739:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>16 <a target="content" href="log_content.html#ERROR16"><span style="color:red">src/iSDHCBOOT.c:764:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>17 <a target="content" href="log_content.html#ERROR17"><span style="color:red">src/iSDHCBOOT.c:772:2: error: unknown type name 'cbool'</span></a></li><br/>
<li>18 <a target="content" href="log_content.html#ERROR18"><span style="color:red">src/iSDHCBOOT.c:774:20: error: 'NX_CLKSRC_SDMMC' undeclared (first use in this function)</span></a></li><br/>
<li>19 <a target="content" href="log_content.html#ERROR19"><span style="color:red">src/iSDHCBOOT.c:783:14: error: 'volatile struct NX_CLKGEN_RegisterSet' has no member named 'clkenb'</span></a></li><br/>
<li>20 <a target="content" href="log_content.html#ERROR20"><span style="color:red">src/iSDHCBOOT.c:792:14: error: 'volatile struct NX_CLKGEN_RegisterSet' has no member named 'clkgen'</span></a></li><br/>
<li>21 <a target="content" href="log_content.html#ERROR21"><span style="color:red">src/iSDHCBOOT.c:792:41: error: 'volatile struct NX_CLKGEN_RegisterSet' has no member named 'clkgen'</span></a></li><br/>
<li>22 <a target="content" href="log_content.html#ERROR22"><span style="color:red">src/iSDHCBOOT.c:798:14: error: 'volatile struct NX_CLKGEN_RegisterSet' has no member named 'clkenb'</span></a></li><br/>
<li>23 <a target="content" href="log_content.html#ERROR23"><span style="color:red">src/iSDHCBOOT.c:855:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>24 <a target="content" href="log_content.html#ERROR24"><span style="color:red">src/iSDHCBOOT.c:871:40: error: 'volatile struct NX_CLKGEN_RegisterSet' has no member named 'clkenb'</span></a></li><br/>
<li>25 <a target="content" href="log_content.html#ERROR25"><span style="color:red">src/iSDHCBOOT.c:879:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>26 <a target="content" href="log_content.html#ERROR26"><span style="color:red">src/iSDHCBOOT.c:915:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>27 <a target="content" href="log_content.html#ERROR27"><span style="color:red">src/iSDHCBOOT.c:923:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>28 <a target="content" href="log_content.html#ERROR28"><span style="color:red">src/iSDHCBOOT.c:998:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>29 <a target="content" href="log_content.html#ERROR29"><span style="color:red">src/iSDHCBOOT.c:1001:2: error: unknown type name 'cbool'</span></a></li><br/>
<li>30 <a target="content" href="log_content.html#ERROR30"><span style="color:red">src/iSDHCBOOT.c:1133:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_SLEW_DD'</span></a></li><br/>
<li>31 <a target="content" href="log_content.html#ERROR31"><span style="color:red">src/iSDHCBOOT.c:1135:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV0_DD'</span></a></li><br/>
<li>32 <a target="content" href="log_content.html#ERROR32"><span style="color:red">src/iSDHCBOOT.c:1137:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV1_DD'</span></a></li><br/>
<li>33 <a target="content" href="log_content.html#ERROR33"><span style="color:red">src/iSDHCBOOT.c:1139:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLSEL_DD'</span></a></li><br/>
<li>34 <a target="content" href="log_content.html#ERROR34"><span style="color:red">src/iSDHCBOOT.c:1142:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLENB_DD'</span></a></li><br/>
<li>35 <a target="content" href="log_content.html#ERROR35"><span style="color:red">src/iSDHCBOOT.c:1145:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_SLEW_DD'</span></a></li><br/>
<li>36 <a target="content" href="log_content.html#ERROR36"><span style="color:red">src/iSDHCBOOT.c:1147:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV0_DD'</span></a></li><br/>
<li>37 <a target="content" href="log_content.html#ERROR37"><span style="color:red">src/iSDHCBOOT.c:1149:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV1_DD'</span></a></li><br/>
<li>38 <a target="content" href="log_content.html#ERROR38"><span style="color:red">src/iSDHCBOOT.c:1151:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLSEL_DD'</span></a></li><br/>
<li>39 <a target="content" href="log_content.html#ERROR39"><span style="color:red">src/iSDHCBOOT.c:1153:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLENB_DD'</span></a></li><br/>
<li>40 <a target="content" href="log_content.html#ERROR40"><span style="color:red">src/iSDHCBOOT.c:1160:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_SLEW_DD'</span></a></li><br/>
<li>41 <a target="content" href="log_content.html#ERROR41"><span style="color:red">src/iSDHCBOOT.c:1162:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV0_DD'</span></a></li><br/>
<li>42 <a target="content" href="log_content.html#ERROR42"><span style="color:red">src/iSDHCBOOT.c:1164:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV1_DD'</span></a></li><br/>
<li>43 <a target="content" href="log_content.html#ERROR43"><span style="color:red">src/iSDHCBOOT.c:1166:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLSEL_DD'</span></a></li><br/>
<li>44 <a target="content" href="log_content.html#ERROR44"><span style="color:red">src/iSDHCBOOT.c:1169:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLENB_DD'</span></a></li><br/>
<li>45 <a target="content" href="log_content.html#ERROR45"><span style="color:red">src/iSDHCBOOT.c:1176:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_SLEW_DD'</span></a></li><br/>
<li>46 <a target="content" href="log_content.html#ERROR46"><span style="color:red">src/iSDHCBOOT.c:1178:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV0_DD'</span></a></li><br/>
<li>47 <a target="content" href="log_content.html#ERROR47"><span style="color:red">src/iSDHCBOOT.c:1180:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV1_DD'</span></a></li><br/>
<li>48 <a target="content" href="log_content.html#ERROR48"><span style="color:red">src/iSDHCBOOT.c:1182:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLSEL_DD'</span></a></li><br/>
<li>49 <a target="content" href="log_content.html#ERROR49"><span style="color:red">src/iSDHCBOOT.c:1185:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLENB_DD'</span></a></li><br/>
<li>50 <a target="content" href="log_content.html#ERROR50"><span style="color:red">src/iSDHCBOOT.c:1200:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_SLEW_DD'</span></a></li><br/>
<li>51 <a target="content" href="log_content.html#ERROR51"><span style="color:red">src/iSDHCBOOT.c:1202:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV0_DD'</span></a></li><br/>
<li>52 <a target="content" href="log_content.html#ERROR52"><span style="color:red">src/iSDHCBOOT.c:1204:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV1_DD'</span></a></li><br/>
<li>53 <a target="content" href="log_content.html#ERROR53"><span style="color:red">src/iSDHCBOOT.c:1206:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLSEL_DD'</span></a></li><br/>
<li>54 <a target="content" href="log_content.html#ERROR54"><span style="color:red">src/iSDHCBOOT.c:1208:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLENB_DD'</span></a></li><br/>
<li>55 <a target="content" href="log_content.html#ERROR55"><span style="color:red">src/iSDHCBOOT.c:1211:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_SLEW_DD'</span></a></li><br/>
<li>56 <a target="content" href="log_content.html#ERROR56"><span style="color:red">src/iSDHCBOOT.c:1213:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV0_DD'</span></a></li><br/>
<li>57 <a target="content" href="log_content.html#ERROR57"><span style="color:red">src/iSDHCBOOT.c:1215:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV1_DD'</span></a></li><br/>
<li>58 <a target="content" href="log_content.html#ERROR58"><span style="color:red">src/iSDHCBOOT.c:1217:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLSEL_DD'</span></a></li><br/>
<li>59 <a target="content" href="log_content.html#ERROR59"><span style="color:red">src/iSDHCBOOT.c:1219:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLENB_DD'</span></a></li><br/>
<li>60 <a target="content" href="log_content.html#ERROR60"><span style="color:red">src/iSDHCBOOT.c:1226:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_SLEW_DD'</span></a></li><br/>
<li>61 <a target="content" href="log_content.html#ERROR61"><span style="color:red">src/iSDHCBOOT.c:1228:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV0_DD'</span></a></li><br/>
<li>62 <a target="content" href="log_content.html#ERROR62"><span style="color:red">src/iSDHCBOOT.c:1230:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV1_DD'</span></a></li><br/>
<li>63 <a target="content" href="log_content.html#ERROR63"><span style="color:red">src/iSDHCBOOT.c:1232:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLSEL_DD'</span></a></li><br/>
<li>64 <a target="content" href="log_content.html#ERROR64"><span style="color:red">src/iSDHCBOOT.c:1234:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLENB_DD'</span></a></li><br/>
<li>65 <a target="content" href="log_content.html#ERROR65"><span style="color:red">src/iSDHCBOOT.c:1241:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_SLEW_DD'</span></a></li><br/>
<li>66 <a target="content" href="log_content.html#ERROR66"><span style="color:red">src/iSDHCBOOT.c:1243:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV0_DD'</span></a></li><br/>
<li>67 <a target="content" href="log_content.html#ERROR67"><span style="color:red">src/iSDHCBOOT.c:1245:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_DRV1_DD'</span></a></li><br/>
<li>68 <a target="content" href="log_content.html#ERROR68"><span style="color:red">src/iSDHCBOOT.c:1247:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLSEL_DD'</span></a></li><br/>
<li>69 <a target="content" href="log_content.html#ERROR69"><span style="color:red">src/iSDHCBOOT.c:1249:7: error: 'volatile struct NX_GPIO_RegisterSet' has no member named 'GPIOx_PULLENB_DD'</span></a></li><br/>
<li>70 <a target="content" href="log_content.html#ERROR70"><span style="color:red">src/iSDHCBOOT.c:1256:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>71 <a target="content" href="log_content.html#ERROR71"><span style="color:red">src/iSDHCBOOT.c:1279:1: error: unknown type name 'cbool'</span></a></li><br/>
<li>72 <a target="content" href="log_content.html#ERROR72"><span style="color:red">src/iSDHCBOOT.c:1284:3: error: unknown type name 'cbool'</span></a></li><br/>
<li>73 <a target="content" href="log_content.html#ERROR73"><span style="color:red">src/iSDHCBOOT.c:1339:13: error: conflicting types for 'memcpy'</span></a></li><br/>
<li>74 <a target="content" href="log_content.html#ERROR74"><span style="color:red">src/iSDHCBOOT.c:1349:13: error: unknown type name 'cbool'</span></a></li><br/>
<li>75 <a target="content" href="log_content.html#ERROR75"><span style="color:red">src/iSDHCBOOT.c:1392:16: error: unknown type name 'cbool'</span></a></li><br/>
