{% extends 's5p4418.jinja2' %}
{% set nexell_command = 'true' %}
{% set connection_command = 'telnet localhost 4001' %}
{% set adb_serial_number = 's5p4418-navi-ref' %}
{% set fastboot_serial_number = 's5p4418-navi-ref' %}
{% set device_path = ['/dev/ttyUSB0'] %}
