HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#WARNING1"><span style="color:orange">warning: no common commits</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#WARNING2"><span style="color:orange">src/devices/pmic/pmic.c:25:2: warning: implicit declaration of function 'pmic_board_init' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>3 <a target="content" href="log_content.html#WARNING3"><span style="color:orange">src/devices/pmic/pmic.c:26:2: warning: implicit declaration of function 'DMC_Delay' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>4 <a target="content" href="log_content.html#WARNING4"><span style="color:orange">src/iSDHCBOOT.c:475:2: warning: implicit declaration of function 'NX_SDMMC_SetClock' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>5 <a target="content" href="log_content.html#WARNING5"><span style="color:orange">src/iSDHCBOOT.c:800:2: warning: implicit declaration of function 'ResetCon' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>6 <a target="content" href="log_content.html#WARNING6"><span style="color:orange">src/iSDHCBOOT.c:903:3: warning: implicit declaration of function 'NX_SDMMC_SetCardDetectPullUp' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>7 <a target="content" href="log_content.html#WARNING7"><span style="color:orange">src/iSDHCBOOT.c:1339:13: warning: 'memcpy' defined but not used [-Wunused-function]</span></a></li><br/>
