HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#WARNING1"><span style="color:orange">src/sysheader.h:68:2: warning: initialization from incompatible pointer type [enabled by default]</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#WARNING2"><span style="color:orange">src/GPIO.c:28:2: warning: initialization from incompatible pointer type [enabled by default]</span></a></li><br/>
<li>3 <a target="content" href="log_content.html#WARNING3"><span style="color:orange">src/sha256.c:81:5: warning: implicit declaration of function 'memset' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>4 <a target="content" href="log_content.html#WARNING4"><span style="color:orange">src/sha256.c:259:9: warning: implicit declaration of function 'memcpy' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>5 <a target="content" href="log_content.html#WARNING5"><span style="color:orange">src/rsa_verify_pss.c:89:3: warning: implicit declaration of function 'printf' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>6 <a target="content" href="log_content.html#WARNING6"><span style="color:orange">src/rsa_verify_pss.c:92:25: warning: unused parameter 'ptr' [-Wunused-parameter]</span></a></li><br/>
<li>7 <a target="content" href="log_content.html#WARNING7"><span style="color:orange">src/rsa_verify_pss.c:141:2: warning: implicit declaration of function 'memset' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>8 <a target="content" href="log_content.html#WARNING8"><span style="color:orange">src/rsa_verify_pss.c:292:2: warning: implicit declaration of function 'memcmp' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>9 <a target="content" href="log_content.html#WARNING9"><span style="color:orange">src/bignum.c:130:13: warning: implicit declaration of function 'memcpy' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>10 <a target="content" href="log_content.html#WARNING10"><span style="color:orange">src/bignum.c:206:5: warning: implicit declaration of function 'memset' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>11 <a target="content" href="log_content.html#WARNING11"><span style="color:orange">src/iSDHCBOOT.c:1279:20: warning: unused parameter 'portnum' [-Wunused-parameter]</span></a></li><br/>
