HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#WARNING1"><span style="color:orange">src/boot/iUSBBOOT.c:428:22: warning: cast to pointer from integer of different size [-Wint-to-pointer-cast]</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#WARNING2"><span style="color:orange">src/boot/iUSBBOOT.c:814:9: warning: passing argument 1 of 'usb_memcpy' makes pointer from integer without a cast [enabled by default]</span></a></li><br/>
<li>3 <a target="content" href="log_content.html#WARNING3"><span style="color:orange">src/boot/iUSBBOOT.c:817:9: warning: passing argument 1 of 'usb_memcpy' makes pointer from integer without a cast [enabled by default]</span></a></li><br/>
<li>4 <a target="content" href="log_content.html#WARNING4"><span style="color:orange">src/boot/iSDHCBOOT.c:1087:26: warning: cast to pointer from integer of different size [-Wint-to-pointer-cast]</span></a></li><br/>
<li>5 <a target="content" href="log_content.html#WARNING5"><span style="color:orange">src/boot/iSDHCBOOT.c:1106:9: warning: cast to pointer from integer of different size [-Wint-to-pointer-cast]</span></a></li><br/>
<li>6 <a target="content" href="log_content.html#WARNING6"><span style="color:orange">src/boot/iSDHCBOOT.c:1121:11: warning: cast to pointer from integer of different size [-Wint-to-pointer-cast]</span></a></li><br/>
<li>7 <a target="content" href="log_content.html#WARNING7"><span style="color:orange">src/boot/iSDHCBOOT.c:1122:4: warning: cast to pointer from integer of different size [-Wint-to-pointer-cast]</span></a></li><br/>
<li>8 <a target="content" href="log_content.html#WARNING8"><span style="color:orange">drivers/video/cfb_console.c:2084:21: warning: cast to pointer from integer of different size [-Wint-to-pointer-cast]</span></a></li><br/>
<li>9 <a target="content" href="log_content.html#WARNING9"><span style="color:orange">plat/common/plat_gic.c:46:2: warning: 'arm_gic_get_pending_interrupt_id' is deprecated (declared at include/drivers/arm/arm_gic.h:53) [-Wdeprecated-declarations]</span></a></li><br/>
<li>10 <a target="content" href="log_content.html#WARNING10"><span style="color:orange">plat/common/plat_gic.c:51:2: warning: 'arm_gic_get_pending_interrupt_type' is deprecated (declared at include/drivers/arm/arm_gic.h:52) [-Wdeprecated-declarations]</span></a></li><br/>
<li>11 <a target="content" href="log_content.html#WARNING11"><span style="color:orange">plat/common/plat_gic.c:56:2: warning: 'arm_gic_acknowledge_interrupt' is deprecated (declared at include/drivers/arm/arm_gic.h:54) [-Wdeprecated-declarations]</span></a></li><br/>
<li>12 <a target="content" href="log_content.html#WARNING12"><span style="color:orange">plat/common/plat_gic.c:61:2: warning: 'arm_gic_get_interrupt_type' is deprecated (declared at include/drivers/arm/arm_gic.h:56) [-Wdeprecated-declarations]</span></a></li><br/>
<li>13 <a target="content" href="log_content.html#WARNING13"><span style="color:orange">plat/common/plat_gic.c:66:2: warning: 'arm_gic_end_of_interrupt' is deprecated (declared at include/drivers/arm/arm_gic.h:55) [-Wdeprecated-declarations]</span></a></li><br/>
<li>14 <a target="content" href="log_content.html#WARNING14"><span style="color:orange">plat/common/plat_gic.c:72:2: warning: 'arm_gic_interrupt_type_to_line' is deprecated (declared at include/drivers/arm/arm_gic.h:50) [-Wdeprecated-declarations]</span></a></li><br/>
<li>15 <a target="content" href="log_content.html#WARNING15"><span style="color:orange">plat/nexell/s5p6818/aarch64/platform_common.c:268:2: warning: 'arm_gic_init' is deprecated (declared at include/drivers/arm/arm_gic.h:40) [-Wdeprecated-declarations]</span></a></li><br/>
<li>16 <a target="content" href="log_content.html#WARNING16"><span style="color:orange">plat/common/plat_gic.c:46:2: warning: 'arm_gic_get_pending_interrupt_id' is deprecated (declared at include/drivers/arm/arm_gic.h:53) [-Wdeprecated-declarations]</span></a></li><br/>
<li>17 <a target="content" href="log_content.html#WARNING17"><span style="color:orange">plat/common/plat_gic.c:51:2: warning: 'arm_gic_get_pending_interrupt_type' is deprecated (declared at include/drivers/arm/arm_gic.h:52) [-Wdeprecated-declarations]</span></a></li><br/>
<li>18 <a target="content" href="log_content.html#WARNING18"><span style="color:orange">plat/common/plat_gic.c:56:2: warning: 'arm_gic_acknowledge_interrupt' is deprecated (declared at include/drivers/arm/arm_gic.h:54) [-Wdeprecated-declarations]</span></a></li><br/>
<li>19 <a target="content" href="log_content.html#WARNING19"><span style="color:orange">plat/common/plat_gic.c:61:2: warning: 'arm_gic_get_interrupt_type' is deprecated (declared at include/drivers/arm/arm_gic.h:56) [-Wdeprecated-declarations]</span></a></li><br/>
<li>20 <a target="content" href="log_content.html#WARNING20"><span style="color:orange">plat/common/plat_gic.c:66:2: warning: 'arm_gic_end_of_interrupt' is deprecated (declared at include/drivers/arm/arm_gic.h:55) [-Wdeprecated-declarations]</span></a></li><br/>
<li>21 <a target="content" href="log_content.html#WARNING21"><span style="color:orange">plat/common/plat_gic.c:72:2: warning: 'arm_gic_interrupt_type_to_line' is deprecated (declared at include/drivers/arm/arm_gic.h:50) [-Wdeprecated-declarations]</span></a></li><br/>
<li>22 <a target="content" href="log_content.html#WARNING22"><span style="color:orange">plat/nexell/s5p6818/aarch64/platform_common.c:268:2: warning: 'arm_gic_init' is deprecated (declared at include/drivers/arm/arm_gic.h:40) [-Wdeprecated-declarations]</span></a></li><br/>
<li>23 <a target="content" href="log_content.html#WARNING23"><span style="color:orange">drivers/arm/gic/arm_gic.c:292:2: warning: 'arm_gic_pcpu_distif_setup' is deprecated (declared at drivers/arm/gic/arm_gic.c:194) [-Wdeprecated-declarations]</span></a></li><br/>
<li>24 <a target="content" href="log_content.html#WARNING24"><span style="color:orange">drivers/arm/gic/arm_gic.c:331:2: warning: 'arm_gic_cpuif_setup' is deprecated (declared at drivers/arm/gic/arm_gic.c:142) [-Wdeprecated-declarations]</span></a></li><br/>
<li>25 <a target="content" href="log_content.html#WARNING25"><span style="color:orange">plat/nexell/s5p6818/bl31_plat_setup.c:150:2: warning: 'arm_gic_setup' is deprecated (declared at include/drivers/arm/arm_gic.h:45) [-Wdeprecated-declarations]</span></a></li><br/>
<li>26 <a target="content" href="log_content.html#WARNING26"><span style="color:orange">plat/nexell/s5p6818/plat_pm.c:308:2: warning: 'arm_gic_cpuif_setup' is deprecated (declared at include/drivers/arm/arm_gic.h:47) [-Wdeprecated-declarations]</span></a></li><br/>
<li>27 <a target="content" href="log_content.html#WARNING27"><span style="color:orange">plat/nexell/s5p6818/plat_pm.c:311:2: warning: 'arm_gic_pcpu_distif_setup' is deprecated (declared at include/drivers/arm/arm_gic.h:48) [-Wdeprecated-declarations]</span></a></li><br/>
<li>28 <a target="content" href="log_content.html#WARNING28"><span style="color:orange">plat/nexell/s5p6818/plat_pm.c:368:2: warning: 'arm_gic_cpuif_deactivate' is deprecated (declared at include/drivers/arm/arm_gic.h:46) [-Wdeprecated-declarations]</span></a></li><br/>
<li>29 <a target="content" href="log_content.html#WARNING29"><span style="color:orange">plat/nexell/s5p6818/plat_pm.c:424:3: warning: 'arm_gic_cpuif_deactivate' is deprecated (declared at include/drivers/arm/arm_gic.h:46) [-Wdeprecated-declarations]</span></a></li><br/>
<li>30 <a target="content" href="log_content.html#WARNING30"><span style="color:orange">plat/nexell/s5p6818/plat_pm.c:446:3: warning: 'arm_gic_setup' is deprecated (declared at include/drivers/arm/arm_gic.h:45) [-Wdeprecated-declarations]</span></a></li><br/>
<li>31 <a target="content" href="log_content.html#WARNING31"><span style="color:orange">plat/nexell/s5p6818/plat_pm.c:447:3: warning: 'arm_gic_cpuif_setup' is deprecated (declared at include/drivers/arm/arm_gic.h:47) [-Wdeprecated-declarations]</span></a></li><br/>
<li>32 <a target="content" href="log_content.html#WARNING32"><span style="color:orange">plat/nexell/s5p6818/plat_pm.c:456:2: warning: 'arm_gic_pcpu_distif_setup' is deprecated (declared at include/drivers/arm/arm_gic.h:48) [-Wdeprecated-declarations]</span></a></li><br/>
<li>33 <a target="content" href="log_content.html#WARNING33"><span style="color:orange">plat/common/plat_gic.c:46:2: warning: 'arm_gic_get_pending_interrupt_id' is deprecated (declared at include/drivers/arm/arm_gic.h:53) [-Wdeprecated-declarations]</span></a></li><br/>
<li>34 <a target="content" href="log_content.html#WARNING34"><span style="color:orange">plat/common/plat_gic.c:51:2: warning: 'arm_gic_get_pending_interrupt_type' is deprecated (declared at include/drivers/arm/arm_gic.h:52) [-Wdeprecated-declarations]</span></a></li><br/>
<li>35 <a target="content" href="log_content.html#WARNING35"><span style="color:orange">plat/common/plat_gic.c:56:2: warning: 'arm_gic_acknowledge_interrupt' is deprecated (declared at include/drivers/arm/arm_gic.h:54) [-Wdeprecated-declarations]</span></a></li><br/>
<li>36 <a target="content" href="log_content.html#WARNING36"><span style="color:orange">plat/common/plat_gic.c:61:2: warning: 'arm_gic_get_interrupt_type' is deprecated (declared at include/drivers/arm/arm_gic.h:56) [-Wdeprecated-declarations]</span></a></li><br/>
<li>37 <a target="content" href="log_content.html#WARNING37"><span style="color:orange">plat/common/plat_gic.c:66:2: warning: 'arm_gic_end_of_interrupt' is deprecated (declared at include/drivers/arm/arm_gic.h:55) [-Wdeprecated-declarations]</span></a></li><br/>
<li>38 <a target="content" href="log_content.html#WARNING38"><span style="color:orange">plat/common/plat_gic.c:72:2: warning: 'arm_gic_interrupt_type_to_line' is deprecated (declared at include/drivers/arm/arm_gic.h:50) [-Wdeprecated-declarations]</span></a></li><br/>
<li>39 <a target="content" href="log_content.html#WARNING39"><span style="color:orange">plat/nexell/s5p6818/aarch64/platform_common.c:268:2: warning: 'arm_gic_init' is deprecated (declared at include/drivers/arm/arm_gic.h:40) [-Wdeprecated-declarations]</span></a></li><br/>
<li>40 <a target="content" href="log_content.html#WARNING40"><span style="color:orange">sound/soc/codecs/alc5623.c:89:1: warning: no return statement in function returning non-void [-Wreturn-type]</span></a></li><br/>
<li>41 <a target="content" href="log_content.html#WARNING41"><span style="color:orange">sound/soc/codecs/alc5623.c:1024:15: warning: unused variable 'vid1' [-Wunused-variable]</span></a></li><br/>
<li>42 <a target="content" href="log_content.html#WARNING42"><span style="color:orange">sound/soc/codecs/alc5623.c:811:13: warning: 'enable_power_depop' defined but not used [-Wunused-function]</span></a></li><br/>
<li>43 <a target="content" href="log_content.html#WARNING43"><span style="color:orange">sound/soc/codecs/rt5640.c:2304:15: warning: unused variable 'val' [-Wunused-variable]</span></a></li><br/>
<li>44 <a target="content" href="log_content.html#WARNING44"><span style="color:orange">drivers/media/i2c/tw9992.c:393:13: warning: 'tw9992_dump_regset' defined but not used [-Wunused-function]</span></a></li><br/>
<li>45 <a target="content" href="log_content.html#WARNING45"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam-vendor.c:54:28: warning: unused variable '_ctx' [-Wunused-variable]</span></a></li><br/>
<li>46 <a target="content" href="log_content.html#WARNING46"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam-vendor.c:61:28: warning: unused variable '_ctx' [-Wunused-variable]</span></a></li><br/>
<li>47 <a target="content" href="log_content.html#WARNING47"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam-vendor.c:68:28: warning: unused variable '_ctx' [-Wunused-variable]</span></a></li><br/>
<li>48 <a target="content" href="log_content.html#WARNING48"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam-vendor.c:78:28: warning: unused variable '_ctx' [-Wunused-variable]</span></a></li><br/>
<li>49 <a target="content" href="log_content.html#WARNING49"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam.c:2752:13: warning: '_set_disable_lvds' defined but not used [-Wunused-function]</span></a></li><br/>
<li>50 <a target="content" href="log_content.html#WARNING50"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam.c:2030:13: warning: '_vip_stop' defined but not used [-Wunused-function]</span></a></li><br/>
<li>51 <a target="content" href="log_content.html#WARNING51"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam.c:2202:13: warning: '_set_disable_mlc' defined but not used [-Wunused-function]</span></a></li><br/>
<li>52 <a target="content" href="log_content.html#WARNING52"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam.c:2232:13: warning: '_is_enable_vip' defined but not used [-Wunused-function]</span></a></li><br/>
<li>53 <a target="content" href="log_content.html#WARNING53"><span style="color:orange">drivers/media/platform/nxp-vpu/nx_vpu_v4l2.c:972:1: warning: label 'err_hw_init' defined but not used [-Wunused-label]</span></a></li><br/>
<li>54 <a target="content" href="log_content.html#WARNING54"><span style="color:orange">drivers/usb/dwc2/hcd.c:2384:12: warning: '_dwc2_hcd_suspend' defined but not used [-Wunused-function]</span></a></li><br/>
<li>55 <a target="content" href="log_content.html#WARNING55"><span style="color:orange">drivers/usb/dwc2/hcd.c:2440:12: warning: '_dwc2_hcd_resume' defined but not used [-Wunused-function]</span></a></li><br/>
<li>56 <a target="content" href="log_content.html#WARNING56"><span style="color:orange">sem_open.c:333: warning: the use of `mktemp' is dangerous, better use `mkstemp' or `mkdtemp'</span></a></li><br/>
<li>57 <a target="content" href="log_content.html#WARNING57"><span style="color:orange">warning: [options] bootstrap class path not set in conjunction with -source 1.7</span></a></li><br/>
<li>58 <a target="content" href="log_content.html#WARNING58"><span style="color:orange">system/bt/hci/../EventLogTags.logtags:36: warning: tag "bt_hci_timeout" (1010000) duplicated in system/bt/btif/../EventLogTags.logtags:36</span></a></li><br/>
<li>59 <a target="content" href="log_content.html#WARNING59"><span style="color:orange">system/bt/hci/../EventLogTags.logtags:37: warning: tag "bt_config_source" (1010001) duplicated in system/bt/btif/../EventLogTags.logtags:37</span></a></li><br/>
<li>60 <a target="content" href="log_content.html#WARNING60"><span style="color:orange">system/bt/hci/../EventLogTags.logtags:38: warning: tag "bt_hci_unknown_type" (1010002) duplicated in system/bt/btif/../EventLogTags.logtags:38</span></a></li><br/>
<li>61 <a target="content" href="log_content.html#WARNING61"><span style="color:orange">external/libunwind/src/ptrace/_UPT_get_dyn_info_list_addr.c:75:10: warning: Implement get_list_addr(), please. [-W#pragma-messages]</span></a></li><br/>
<li>62 <a target="content" href="log_content.html#WARNING62"><span style="color:orange">external/lzma/C/Lzma2Enc.c:241:21: warning: comparison of integers of different signs: 'UInt64' (aka 'unsigned long long') and 'int' [-Wsign-compare]</span></a></li><br/>
<li>63 <a target="content" href="log_content.html#WARNING63"><span style="color:orange">warning: string 'candidates_style' has no default translation.</span></a></li><br/>
<li>64 <a target="content" href="log_content.html#WARNING64"><span style="color:orange">warning: string 'gsm_alphabet_default_charset' has no default translation.</span></a></li><br/>
<li>65 <a target="content" href="log_content.html#WARNING65"><span style="color:orange">warning: string 'wfcSpnFormat' has no default translation.</span></a></li><br/>
<li>66 <a target="content" href="log_content.html#WARNING66"><span style="color:orange">warning: string 'candidates_style' has no default translation.</span></a></li><br/>
<li>67 <a target="content" href="log_content.html#WARNING67"><span style="color:orange">warning: string 'gsm_alphabet_default_charset' has no default translation.</span></a></li><br/>
<li>68 <a target="content" href="log_content.html#WARNING68"><span style="color:orange">warning: string 'wfcSpnFormat' has no default translation.</span></a></li><br/>
<li>69 <a target="content" href="log_content.html#WARNING69"><span style="color:orange">external/libunwind/src/ptrace/_UPT_get_dyn_info_list_addr.c:75:10: warning: Implement get_list_addr(), please. [-W#pragma-messages]</span></a></li><br/>
<li>70 <a target="content" href="log_content.html#WARNING70"><span style="color:orange">external/lzma/C/Lzma2Enc.c:241:21: warning: comparison of integers of different signs: 'UInt64' (aka 'unsigned long long') and 'int' [-Wsign-compare]</span></a></li><br/>
<li>71 <a target="content" href="log_content.html#WARNING71"><span style="color:orange">external/libunwind/src/ptrace/_UPT_get_dyn_info_list_addr.c:75:10: warning: Implement get_list_addr(), please. [-W#pragma-messages]</span></a></li><br/>
<li>72 <a target="content" href="log_content.html#WARNING72"><span style="color:orange">external/gmock/src/../src/gmock-internal-utils.cc:106:8: warning: missing field 'owner_' initializer [-Wmissing-field-initializers]</span></a></li><br/>
<li>73 <a target="content" href="log_content.html#WARNING73"><span style="color:orange">external/gmock/src/../src/gmock-spec-builders.cc:56:12: warning: missing field 'owner_' initializer [-Wmissing-field-initializers]</span></a></li><br/>
<li>74 <a target="content" href="log_content.html#WARNING74"><span style="color:orange">external/gmock/src/../src/gmock-internal-utils.cc:106:8: warning: missing field 'owner_' initializer [-Wmissing-field-initializers]</span></a></li><br/>
<li>75 <a target="content" href="log_content.html#WARNING75"><span style="color:orange">external/gmock/src/../src/gmock-spec-builders.cc:56:12: warning: missing field 'owner_' initializer [-Wmissing-field-initializers]</span></a></li><br/>
<li>76 <a target="content" href="log_content.html#WARNING76"><span style="color:orange">dalvik/libdex/DexOptData.cpp:87:21: warning: format specifies type 'unsigned int' but the argument has type 'long' [-Wformat]</span></a></li><br/>
<li>77 <a target="content" href="log_content.html#WARNING77"><span style="color:orange">dalvik/libdex/DexOptData.cpp:103:27: warning: format specifies type 'unsigned int' but the argument has type 'long' [-Wformat]</span></a></li><br/>
<li>78 <a target="content" href="log_content.html#WARNING78"><span style="color:orange">system/extras/ext4_utils/make_ext4fs.c:537:15: warning: comparison of integers of different signs: 'int' and 'u32' (aka 'unsigned int') [-Wsign-compare]</span></a></li><br/>
<li>79 <a target="content" href="log_content.html#WARNING79"><span style="color:orange">system/extras/ext4_utils/make_ext4fs.c:631:22: warning: comparison of integers of different signs: 'int' and 'unsigned int' [-Wsign-compare]</span></a></li><br/>
<li>80 <a target="content" href="log_content.html#WARNING80"><span style="color:orange">system/extras/ext4_utils/make_ext4fs.c:632:19: warning: comparison of integers of different signs: 'int' and 'unsigned int' [-Wsign-compare]</span></a></li><br/>
<li>81 <a target="content" href="log_content.html#WARNING81"><span style="color:orange">system/extras/ext4_utils/make_ext4fs.c:650:16: warning: comparison of integers of different signs: 'int' and 'u32' (aka 'unsigned int') [-Wsign-compare]</span></a></li><br/>
<li>82 <a target="content" href="log_content.html#WARNING82"><span style="color:orange">system/extras/ext4_utils/allocate.c:362:17: warning: comparison of integers of different signs: 'unsigned int' and 'int' [-Wsign-compare]</span></a></li><br/>
<li>83 <a target="content" href="log_content.html#WARNING83"><span style="color:orange">external/e2fsprogs/lib/uuid/gen_uuid.c:224:39: warning: unused parameter 'node_id' [-Wunused-parameter]</span></a></li><br/>
<li>84 <a target="content" href="log_content.html#WARNING84"><span style="color:orange">external/e2fsprogs/lib/uuid/gen_uuid.c:480:36: warning: unused parameter 'op' [-Wunused-parameter]</span></a></li><br/>
<li>85 <a target="content" href="log_content.html#WARNING85"><span style="color:orange">external/e2fsprogs/lib/uuid/gen_uuid.c:480:47: warning: unused parameter 'out' [-Wunused-parameter]</span></a></li><br/>
<li>86 <a target="content" href="log_content.html#WARNING86"><span style="color:orange">external/e2fsprogs/lib/uuid/gen_uuid.c:480:57: warning: unused parameter 'num' [-Wunused-parameter]</span></a></li><br/>
<li>87 <a target="content" href="log_content.html#WARNING87"><span style="color:orange">external/e2fsprogs/lib/uuid/gen_uuid.c:423:16: warning: unused function 'read_all' [-Wunused-function]</span></a></li><br/>
<li>88 <a target="content" href="log_content.html#WARNING88"><span style="color:orange">external/e2fsprogs/lib/uuid/gen_uuid.c:450:13: warning: unused function 'close_all_fds' [-Wunused-function]</span></a></li><br/>
<li>89 <a target="content" href="log_content.html#WARNING89"><span style="color:orange">dalvik/tools/hprof-conv/HprofConv.c:404:69: warning: unused parameter 'len' [-Wunused-parameter]</span></a></li><br/>
<li>90 <a target="content" href="log_content.html#WARNING90"><span style="color:orange">dalvik/tools/hprof-conv/HprofConv.c:413:72: warning: unused parameter 'len' [-Wunused-parameter]</span></a></li><br/>
<li>91 <a target="content" href="log_content.html#WARNING91"><span style="color:orange">dalvik/tools/hprof-conv/HprofConv.c:422:75: warning: unused parameter 'len' [-Wunused-parameter]</span></a></li><br/>
<li>92 <a target="content" href="log_content.html#WARNING92"><span style="color:orange">external/lzma/C/Lzma2Enc.c:241:21: warning: comparison of integers of different signs: 'UInt64' (aka 'unsigned long long') and 'int' [-Wsign-compare]</span></a></li><br/>
<li>93 <a target="content" href="log_content.html#WARNING93"><span style="color:orange">external/libunwind/src/ptrace/_UPT_get_dyn_info_list_addr.c:75:10: warning: Implement get_list_addr(), please. [-W#pragma-messages]</span></a></li><br/>
<li>94 <a target="content" href="log_content.html#WARNING94"><span style="color:orange">external/fdlibm/k_tan.c:1:9: warning: unknown pragma ignored [-Wunknown-pragmas]</span></a></li><br/>
<li>95 <a target="content" href="log_content.html#WARNING95"><span style="color:orange">external/fdlibm/e_asin.c:87:6: warning: variable 't' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>96 <a target="content" href="log_content.html#WARNING96"><span style="color:orange">external/fdlibm/e_exp.c:140:9: warning: variable 'k' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>97 <a target="content" href="log_content.html#WARNING97"><span style="color:orange">external/fdlibm/e_cosh.c:81:24: warning: '&&' within '||' [-Wlogical-op-parentheses]</span></a></li><br/>
<li>98 <a target="content" href="log_content.html#WARNING98"><span style="color:orange">external/fdlibm/e_j0.c:338:10: warning: variable 'p' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>99 <a target="content" href="log_content.html#WARNING99"><span style="color:orange">external/fdlibm/e_j0.c:338:10: warning: variable 'q' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>100 <a target="content" href="log_content.html#WARNING100"><span style="color:orange">external/fdlibm/e_j0.c:473:10: warning: variable 'p' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>101 <a target="content" href="log_content.html#WARNING101"><span style="color:orange">external/fdlibm/e_j0.c:473:10: warning: variable 'q' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>102 <a target="content" href="log_content.html#WARNING102"><span style="color:orange">external/fdlibm/e_j1.c:336:17: warning: variable 'p' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>103 <a target="content" href="log_content.html#WARNING103"><span style="color:orange">external/fdlibm/e_j1.c:336:17: warning: variable 'q' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>104 <a target="content" href="log_content.html#WARNING104"><span style="color:orange">external/fdlibm/e_j1.c:472:10: warning: variable 'p' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>105 <a target="content" href="log_content.html#WARNING105"><span style="color:orange">external/fdlibm/e_j1.c:472:10: warning: variable 'q' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>106 <a target="content" href="log_content.html#WARNING106"><span style="color:orange">external/fdlibm/e_jn.c:265:28: warning: comparison of integers of different signs: 'int' and 'unsigned int' [-Wsign-compare]</span></a></li><br/>
<li>107 <a target="content" href="log_content.html#WARNING107"><span style="color:orange">external/fdlibm/e_log.c:115:41: warning: add explicit braces to avoid dangling else [-Wdangling-else]</span></a></li><br/>
<li>108 <a target="content" href="log_content.html#WARNING108"><span style="color:orange">external/fdlibm/e_pow.c:138:21: warning: comparison of integers of different signs: 'int' and 'unsigned int' [-Wsign-compare]</span></a></li><br/>
<li>109 <a target="content" href="log_content.html#WARNING109"><span style="color:orange">external/fdlibm/e_sqrt.c:161:16: warning: comparison of integers of different signs: 'unsigned int' and 'int' [-Wsign-compare]</span></a></li><br/>
<li>110 <a target="content" href="log_content.html#WARNING110"><span style="color:orange">external/fdlibm/e_sinh.c:74:39: warning: '&&' within '||' [-Wlogical-op-parentheses]</span></a></li><br/>
<li>111 <a target="content" href="log_content.html#WARNING111"><span style="color:orange">external/fdlibm/s_ceil.c:68:8: warning: comparison of integers of different signs: 'unsigned int' and 'int' [-Wsign-compare]</span></a></li><br/>
<li>112 <a target="content" href="log_content.html#WARNING112"><span style="color:orange">external/fdlibm/s_expm1.c:197:10: warning: add explicit braces to avoid dangling else [-Wdangling-else]</span></a></li><br/>
<li>113 <a target="content" href="log_content.html#WARNING113"><span style="color:orange">external/fdlibm/s_floor.c:69:8: warning: comparison of integers of different signs: 'unsigned int' and 'int' [-Wsign-compare]</span></a></li><br/>
<li>114 <a target="content" href="log_content.html#WARNING114"><span style="color:orange">external/fdlibm/s_log1p.c:155:4: warning: add explicit braces to avoid dangling else [-Wdangling-else]</span></a></li><br/>
<li>115 <a target="content" href="log_content.html#WARNING115"><span style="color:orange">external/fdlibm/s_scalbn.c:59:6: warning: add explicit braces to avoid dangling else [-Wdangling-else]</span></a></li><br/>
<li>116 <a target="content" href="log_content.html#WARNING116"><span style="color:orange">external/sqlite/android/sqlite3_android.cpp:434:5: warning: 'ucol_getShortDefinitionString_56' is deprecated [-Wdeprecated-declarations]</span></a></li><br/>
<li>117 <a target="content" href="log_content.html#WARNING117"><span style="color:orange">external/fdlibm/e_log.c:115:41: warning: add explicit braces to avoid dangling else [-Wdangling-else]</span></a></li><br/>
<li>118 <a target="content" href="log_content.html#WARNING118"><span style="color:orange">external/fdlibm/k_tan.c:1:9: warning: unknown pragma ignored [-Wunknown-pragmas]</span></a></li><br/>
<li>119 <a target="content" href="log_content.html#WARNING119"><span style="color:orange">external/fdlibm/e_asin.c:87:6: warning: variable 't' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>120 <a target="content" href="log_content.html#WARNING120"><span style="color:orange">external/fdlibm/e_cosh.c:81:24: warning: '&&' within '||' [-Wlogical-op-parentheses]</span></a></li><br/>
<li>121 <a target="content" href="log_content.html#WARNING121"><span style="color:orange">external/fdlibm/e_exp.c:140:9: warning: variable 'k' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>122 <a target="content" href="log_content.html#WARNING122"><span style="color:orange">external/fdlibm/e_j0.c:338:10: warning: variable 'p' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>123 <a target="content" href="log_content.html#WARNING123"><span style="color:orange">external/fdlibm/e_j0.c:338:10: warning: variable 'q' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>124 <a target="content" href="log_content.html#WARNING124"><span style="color:orange">external/fdlibm/e_j0.c:473:10: warning: variable 'p' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>125 <a target="content" href="log_content.html#WARNING125"><span style="color:orange">external/fdlibm/e_j0.c:473:10: warning: variable 'q' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>126 <a target="content" href="log_content.html#WARNING126"><span style="color:orange">external/fdlibm/e_j1.c:336:17: warning: variable 'p' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>127 <a target="content" href="log_content.html#WARNING127"><span style="color:orange">external/fdlibm/e_j1.c:336:17: warning: variable 'q' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>128 <a target="content" href="log_content.html#WARNING128"><span style="color:orange">external/fdlibm/e_j1.c:472:10: warning: variable 'p' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>129 <a target="content" href="log_content.html#WARNING129"><span style="color:orange">external/fdlibm/e_j1.c:472:10: warning: variable 'q' is used uninitialized whenever 'if' condition is false [-Wsometimes-uninitialized]</span></a></li><br/>
<li>130 <a target="content" href="log_content.html#WARNING130"><span style="color:orange">external/fdlibm/e_jn.c:265:28: warning: comparison of integers of different signs: 'int' and 'unsigned int' [-Wsign-compare]</span></a></li><br/>
<li>131 <a target="content" href="log_content.html#WARNING131"><span style="color:orange">external/fdlibm/e_sinh.c:74:39: warning: '&&' within '||' [-Wlogical-op-parentheses]</span></a></li><br/>
<li>132 <a target="content" href="log_content.html#WARNING132"><span style="color:orange">external/fdlibm/e_pow.c:138:21: warning: comparison of integers of different signs: 'int' and 'unsigned int' [-Wsign-compare]</span></a></li><br/>
<li>133 <a target="content" href="log_content.html#WARNING133"><span style="color:orange">external/fdlibm/e_sqrt.c:161:16: warning: comparison of integers of different signs: 'unsigned int' and 'int' [-Wsign-compare]</span></a></li><br/>
<li>134 <a target="content" href="log_content.html#WARNING134"><span style="color:orange">external/fdlibm/s_ceil.c:68:8: warning: comparison of integers of different signs: 'unsigned int' and 'int' [-Wsign-compare]</span></a></li><br/>
<li>135 <a target="content" href="log_content.html#WARNING135"><span style="color:orange">external/fdlibm/s_expm1.c:197:10: warning: add explicit braces to avoid dangling else [-Wdangling-else]</span></a></li><br/>
<li>136 <a target="content" href="log_content.html#WARNING136"><span style="color:orange">external/fdlibm/s_floor.c:69:8: warning: comparison of integers of different signs: 'unsigned int' and 'int' [-Wsign-compare]</span></a></li><br/>
<li>137 <a target="content" href="log_content.html#WARNING137"><span style="color:orange">external/fdlibm/s_log1p.c:155:4: warning: add explicit braces to avoid dangling else [-Wdangling-else]</span></a></li><br/>
<li>138 <a target="content" href="log_content.html#WARNING138"><span style="color:orange">external/fdlibm/s_scalbn.c:59:6: warning: add explicit braces to avoid dangling else [-Wdangling-else]</span></a></li><br/>
<li>139 <a target="content" href="log_content.html#WARNING139"><span style="color:orange">external/sqlite/android/sqlite3_android.cpp:434:5: warning: 'ucol_getShortDefinitionString_56' is deprecated [-Wdeprecated-declarations]</span></a></li><br/>
<li>140 <a target="content" href="log_content.html#WARNING140"><span style="color:orange">external/jemalloc/src/arena.c:1355:41: warning: comparison of constant 18446744072 with expression of type 'ssize_t' (aka 'int') is always true [-Wtautological-constant-out-of-range-compare]</span></a></li><br/>
<li>141 <a target="content" href="log_content.html#WARNING141"><span style="color:orange">external/libunwind/src/ptrace/_UPT_get_dyn_info_list_addr.c:75:10: warning: Implement get_list_addr(), please. [-W#pragma-messages]</span></a></li><br/>
<li>142 <a target="content" href="log_content.html#WARNING142"><span style="color:orange">external/lzma/C/Lzma2Enc.c:241:21: warning: comparison of integers of different signs: 'UInt64' (aka 'unsigned long long') and 'int' [-Wsign-compare]</span></a></li><br/>
<li>143 <a target="content" href="log_content.html#WARNING143"><span style="color:orange">external/libunwind/src/ptrace/_UPT_access_fpreg.c:113:10: warning: _UPT_access_fpreg is not implemented and not currently used. [-W#pragma-messages]</span></a></li><br/>
<li>144 <a target="content" href="log_content.html#WARNING144"><span style="color:orange">external/libunwind/src/ptrace/_UPT_get_dyn_info_list_addr.c:75:10: warning: Implement get_list_addr(), please. [-W#pragma-messages]</span></a></li><br/>
<li>145 <a target="content" href="log_content.html#WARNING145"><span style="color:orange">external/lzma/C/Lzma2Enc.c:241:21: warning: comparison of integers of different signs: 'UInt64' (aka 'unsigned long long') and 'int' [-Wsign-compare]</span></a></li><br/>
<li>146 <a target="content" href="log_content.html#WARNING146"><span style="color:orange">system/extras/ext4_utils/make_ext4fs.c:537:15: warning: comparison of integers of different signs: 'int' and 'u32' (aka 'unsigned int') [-Wsign-compare]</span></a></li><br/>
<li>147 <a target="content" href="log_content.html#WARNING147"><span style="color:orange">system/extras/ext4_utils/make_ext4fs.c:631:22: warning: comparison of integers of different signs: 'int' and 'unsigned int' [-Wsign-compare]</span></a></li><br/>
<li>148 <a target="content" href="log_content.html#WARNING148"><span style="color:orange">system/extras/ext4_utils/make_ext4fs.c:632:19: warning: comparison of integers of different signs: 'int' and 'unsigned int' [-Wsign-compare]</span></a></li><br/>
<li>149 <a target="content" href="log_content.html#WARNING149"><span style="color:orange">system/extras/ext4_utils/make_ext4fs.c:650:16: warning: comparison of integers of different signs: 'int' and 'u32' (aka 'unsigned int') [-Wsign-compare]</span></a></li><br/>
<li>150 <a target="content" href="log_content.html#WARNING150"><span style="color:orange">system/extras/ext4_utils/allocate.c:362:17: warning: comparison of integers of different signs: 'unsigned int' and 'int' [-Wsign-compare]</span></a></li><br/>
<li>151 <a target="content" href="log_content.html#WARNING151"><span style="color:orange">external/libdrm/xf86drmMode.c:1342:38: warning: missing field 'count_objs' initializer [-Wmissing-field-initializers]</span></a></li><br/>
<li>152 <a target="content" href="log_content.html#WARNING152"><span style="color:orange">external/libdrm/xf86drm.c:895:36: warning: unused parameter 'fd' [-Wunused-parameter]</span></a></li><br/>
<li>153 <a target="content" href="log_content.html#WARNING153"><span style="color:orange">external/libdrm/xf86drm.c:1094:19: warning: implicit conversion from enumeration type 'drmMapType' to different enumeration type 'enum drm_map_type' [-Wenum-conversion]</span></a></li><br/>
<li>154 <a target="content" href="log_content.html#WARNING154"><span style="color:orange">external/libdrm/xf86drm.c:1095:19: warning: implicit conversion from enumeration type 'drmMapFlags' to different enumeration type 'enum drm_map_flags' [-Wenum-conversion]</span></a></li><br/>
<li>155 <a target="content" href="log_content.html#WARNING155"><span style="color:orange">external/libdrm/xf86drm.c:1419:36: warning: implicit conversion from enumeration type 'drmDMAFlags' to different enumeration type 'enum drm_dma_flags' [-Wenum-conversion]</span></a></li><br/>
<li>156 <a target="content" href="log_content.html#WARNING156"><span style="color:orange">external/libdrm/xf86drm.c:2309:19: warning: implicit conversion from enumeration type 'enum drm_map_type' to different enumeration type 'drmMapType' [-Wenum-conversion]</span></a></li><br/>
<li>157 <a target="content" href="log_content.html#WARNING157"><span style="color:orange">external/libdrm/xf86drm.c:2310:19: warning: implicit conversion from enumeration type 'enum drm_map_flags' to different enumeration type 'drmMapFlags' [-Wenum-conversion]</span></a></li><br/>
<li>158 <a target="content" href="log_content.html#WARNING158"><span style="color:orange">external/libdrm/xf86drm.c:2614:23: warning: unused parameter 'unused' [-Wunused-parameter]</span></a></li><br/>
<li>159 <a target="content" href="log_content.html#WARNING159"><span style="color:orange">external/selinux/libsepol/cil/src/cil_mem.c:109:7: warning: implicit declaration of function 'vasprintf' is invalid in C99 [-Wimplicit-function-declaration]</span></a></li><br/>
<li>160 <a target="content" href="log_content.html#WARNING160"><span style="color:orange">out/host/linux-x86/obj/STATIC_LIBRARIES/libsepol_intermediates/cil/src/cil_lexer.c:1593:1: warning: function 'yy_fatal_error' could be declared with attribute 'noreturn' [-Wmissing-noreturn]</span></a></li><br/>
<li>161 <a target="content" href="log_content.html#WARNING161"><span style="color:orange">Warning: AndroidManifest.xml already defines versionCode (in http://schemas.android.com/apk/res/android); using existing value in manifest.</span></a></li><br/>
<li>162 <a target="content" href="log_content.html#WARNING162"><span style="color:orange">Warning: AndroidManifest.xml already defines versionName (in http://schemas.android.com/apk/res/android); using existing value in manifest.</span></a></li><br/>
<li>163 <a target="content" href="log_content.html#WARNING163"><span style="color:orange">Warning: AndroidManifest.xml already defines minSdkVersion (in http://schemas.android.com/apk/res/android); using existing value in manifest.</span></a></li><br/>
<li>164 <a target="content" href="log_content.html#WARNING164"><span style="color:orange">Warning: AndroidManifest.xml already defines targetSdkVersion (in http://schemas.android.com/apk/res/android); using existing value in manifest.</span></a></li><br/>
<li>165 <a target="content" href="log_content.html#WARNING165"><span style="color:orange">warning: [options] bootstrap class path not set in conjunction with -source 1.7</span></a></li><br/>
<li>166 <a target="content" href="log_content.html#WARNING166"><span style="color:orange">external/conscrypt/src/openjdk/java/org/conscrypt/Platform.java:45: warning: AlgorithmId is internal proprietary API and may be removed in a future release</span></a></li><br/>
<li>167 <a target="content" href="log_content.html#WARNING167"><span style="color:orange">external/conscrypt/src/openjdk/java/org/conscrypt/Platform.java:274: warning: AlgorithmId is internal proprietary API and may be removed in a future release</span></a></li><br/>
<li>168 <a target="content" href="log_content.html#WARNING168"><span style="color:orange">warning: [options] bootstrap class path not set in conjunction with -source 1.7</span></a></li><br/>
