HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#ERROR1"><span style="color:red">arm-cortex_a9-linux-gnueabi-gcc: internal compiler error: Terminated (program cc1)</span></a></li><br/>
