HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#WARNING1"><span style="color:orange">drivers/cpufreq/s5p4418-cpufreq.h:31:30: warning: missing whitespace after the macro name [enabled by default]</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#WARNING2"><span style="color:orange">sound/soc/codecs/alc5623.c:89:1: warning: no return statement in function returning non-void [-Wreturn-type]</span></a></li><br/>
<li>3 <a target="content" href="log_content.html#WARNING3"><span style="color:orange">sound/soc/codecs/alc5623.c:1024:15: warning: unused variable 'vid1' [-Wunused-variable]</span></a></li><br/>
<li>4 <a target="content" href="log_content.html#WARNING4"><span style="color:orange">sound/soc/codecs/alc5623.c:811:13: warning: 'enable_power_depop' defined but not used [-Wunused-function]</span></a></li><br/>
<li>5 <a target="content" href="log_content.html#WARNING5"><span style="color:orange">sound/soc/codecs/rt5640.c:2304:15: warning: unused variable 'val' [-Wunused-variable]</span></a></li><br/>
<li>6 <a target="content" href="log_content.html#WARNING6"><span style="color:orange">drivers/hid/hid-iui.c:137:2: warning: ISO C90 forbids mixed declarations and code [-Wdeclaration-after-statement]</span></a></li><br/>
<li>7 <a target="content" href="log_content.html#WARNING7"><span style="color:orange">drivers/hid/hid-iui.c:278:2: warning: passing argument 3 of 'kobject_uevent_env' from incompatible pointer type [enabled by default]</span></a></li><br/>
<li>8 <a target="content" href="log_content.html#WARNING8"><span style="color:orange">drivers/hid/hid-iui.c:297:2: warning: passing argument 3 of 'kobject_uevent_env' from incompatible pointer type [enabled by default]</span></a></li><br/>
<li>9 <a target="content" href="log_content.html#WARNING9"><span style="color:orange">drivers/hid/hid-iui.c:201:16: warning: ignoring return value of 'copy_to_user', declared with attribute warn_unused_result [-Wunused-result]</span></a></li><br/>
<li>10 <a target="content" href="log_content.html#WARNING10"><span style="color:orange">drivers/hid/hid-iui.c:220:1: warning: the frame size of 1096 bytes is larger than 1024 bytes [-Wframe-larger-than=]</span></a></li><br/>
