HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#WARNING1"><span style="color:orange">common/cmd_checkhw.c:104:1: warning: data definition has no type or storage class [enabled by default]</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#WARNING2"><span style="color:orange">common/cmd_checkhw.c:104:1: warning: type defaults to 'int' in declaration of 'EXPORT_SYMBOL_GPL' [-Wimplicit-int]</span></a></li><br/>
<li>3 <a target="content" href="log_content.html#WARNING3"><span style="color:orange">common/cmd_checkhw.c:104:1: warning: parameter names (without types) in function declaration [enabled by default]</span></a></li><br/>
<li>4 <a target="content" href="log_content.html#WARNING4"><span style="color:orange">drivers/video/cfb_console.c:2084:21: warning: cast to pointer from integer of different size [-Wint-to-pointer-cast]</span></a></li><br/>
<li>5 <a target="content" href="log_content.html#WARNING5"><span style="color:orange">board/s5p4418/smart_voice/board.c:148:2: warning: implicit declaration of function 'pwm_init' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>6 <a target="content" href="log_content.html#WARNING6"><span style="color:orange">board/s5p4418/smart_voice/board.c:149:2: warning: implicit declaration of function 'pwm_config' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>7 <a target="content" href="log_content.html#WARNING7"><span style="color:orange">board/s5p4418/smart_voice/board.c:150:2: warning: implicit declaration of function 'pwm_enable' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>8 <a target="content" href="log_content.html#WARNING8"><span style="color:orange">drivers/video/nexell_display.c:402:31: warning: 'nx_display_setup' defined but not used [-Wunused-function]</span></a></li><br/>
<li>9 <a target="content" href="log_content.html#WARNING9"><span style="color:orange">common/cmd_checkhw.c:104:1: warning: data definition has no type or storage class [enabled by default]</span></a></li><br/>
<li>10 <a target="content" href="log_content.html#WARNING10"><span style="color:orange">common/cmd_checkhw.c:104:1: warning: type defaults to 'int' in declaration of 'EXPORT_SYMBOL_GPL' [-Wimplicit-int]</span></a></li><br/>
<li>11 <a target="content" href="log_content.html#WARNING11"><span style="color:orange">common/cmd_checkhw.c:104:1: warning: parameter names (without types) in function declaration [enabled by default]</span></a></li><br/>
