HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#WARNING1"><span style="color:orange">drivers/cpufreq/s5p4418-cpufreq.h:31:30: warning: missing whitespace after the macro name [enabled by default]</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#WARNING2"><span style="color:orange">sound/soc/codecs/alc5623.c:89:1: warning: no return statement in function returning non-void [-Wreturn-type]</span></a></li><br/>
<li>3 <a target="content" href="log_content.html#WARNING3"><span style="color:orange">sound/soc/codecs/alc5623.c:1024:15: warning: unused variable 'vid1' [-Wunused-variable]</span></a></li><br/>
<li>4 <a target="content" href="log_content.html#WARNING4"><span style="color:orange">sound/soc/codecs/alc5623.c:811:13: warning: 'enable_power_depop' defined but not used [-Wunused-function]</span></a></li><br/>
<li>5 <a target="content" href="log_content.html#WARNING5"><span style="color:orange">sound/soc/codecs/rt5640.c:2304:15: warning: unused variable 'val' [-Wunused-variable]</span></a></li><br/>
<li>6 <a target="content" href="log_content.html#WARNING6"><span style="color:orange">drivers/hid/hid-iui.c:137:2: warning: ISO C90 forbids mixed declarations and code [-Wdeclaration-after-statement]</span></a></li><br/>
<li>7 <a target="content" href="log_content.html#WARNING7"><span style="color:orange">drivers/hid/hid-iui.c:278:2: warning: passing argument 3 of 'kobject_uevent_env' from incompatible pointer type [enabled by default]</span></a></li><br/>
<li>8 <a target="content" href="log_content.html#WARNING8"><span style="color:orange">drivers/hid/hid-iui.c:297:2: warning: passing argument 3 of 'kobject_uevent_env' from incompatible pointer type [enabled by default]</span></a></li><br/>
<li>9 <a target="content" href="log_content.html#WARNING9"><span style="color:orange">drivers/hid/hid-iui.c:201:16: warning: ignoring return value of 'copy_to_user', declared with attribute warn_unused_result [-Wunused-result]</span></a></li><br/>
<li>10 <a target="content" href="log_content.html#WARNING10"><span style="color:orange">drivers/hid/hid-iui.c:220:1: warning: the frame size of 1096 bytes is larger than 1024 bytes [-Wframe-larger-than=]</span></a></li><br/>
<li>11 <a target="content" href="log_content.html#WARNING11"><span style="color:orange">drivers/media/i2c/tw9992.c:393:13: warning: 'tw9992_dump_regset' defined but not used [-Wunused-function]</span></a></li><br/>
<li>12 <a target="content" href="log_content.html#WARNING12"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam-vendor.c:54:28: warning: unused variable '_ctx' [-Wunused-variable]</span></a></li><br/>
<li>13 <a target="content" href="log_content.html#WARNING13"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam-vendor.c:61:28: warning: unused variable '_ctx' [-Wunused-variable]</span></a></li><br/>
<li>14 <a target="content" href="log_content.html#WARNING14"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam-vendor.c:68:28: warning: unused variable '_ctx' [-Wunused-variable]</span></a></li><br/>
<li>15 <a target="content" href="log_content.html#WARNING15"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam-vendor.c:78:28: warning: unused variable '_ctx' [-Wunused-variable]</span></a></li><br/>
<li>16 <a target="content" href="log_content.html#WARNING16"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam.c:2748:13: warning: '_set_disable_lvds' defined but not used [-Wunused-function]</span></a></li><br/>
<li>17 <a target="content" href="log_content.html#WARNING17"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam.c:2026:13: warning: '_vip_stop' defined but not used [-Wunused-function]</span></a></li><br/>
<li>18 <a target="content" href="log_content.html#WARNING18"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam.c:2198:13: warning: '_set_disable_mlc' defined but not used [-Wunused-function]</span></a></li><br/>
<li>19 <a target="content" href="log_content.html#WARNING19"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam.c:2228:13: warning: '_is_enable_vip' defined but not used [-Wunused-function]</span></a></li><br/>
<li>20 <a target="content" href="log_content.html#WARNING20"><span style="color:orange">drivers/media/platform/nexell/mpegts/nx-mpegts.c:650:12: warning: '_clear_param' defined but not used [-Wunused-function]</span></a></li><br/>
<li>21 <a target="content" href="log_content.html#WARNING21"><span style="color:orange">drivers/media/platform/nxp-vpu/nx_vpu_v4l2.c:974:1: warning: label 'err_hw_init' defined but not used [-Wunused-label]</span></a></li><br/>
<li>22 <a target="content" href="log_content.html#WARNING22"><span style="color:orange">drivers/usb/dwc2/hcd.c:2386:12: warning: '_dwc2_hcd_suspend' defined but not used [-Wunused-function]</span></a></li><br/>
<li>23 <a target="content" href="log_content.html#WARNING23"><span style="color:orange">drivers/usb/dwc2/hcd.c:2442:12: warning: '_dwc2_hcd_resume' defined but not used [-Wunused-function]</span></a></li><br/>
<li>24 <a target="content" href="log_content.html#WARNING24"><span style="color:orange">drivers/usb/gadget/function/u_ether.c:816:6: warning: unused variable 'ret' [-Wunused-variable]</span></a></li><br/>
<li>25 <a target="content" href="log_content.html#WARNING25"><span style="color:orange">drivers/usb/gadget/function/u_ether.c:848:8: warning: unused variable 'status' [-Wunused-variable]</span></a></li><br/>
<li>26 <a target="content" href="log_content.html#WARNING26"><span style="color:orange">drivers/usb/gadget/function/f_carplay.c:1917:10: warning: assignment from incompatible pointer type [enabled by default]</span></a></li><br/>
<li>27 <a target="content" href="log_content.html#WARNING27"><span style="color:orange">drivers/usb/gadget/function/f_carplay.c:1937:10: warning: assignment from incompatible pointer type [enabled by default]</span></a></li><br/>
<li>28 <a target="content" href="log_content.html#WARNING28"><span style="color:orange">drivers/usb/gadget/function/f_carplay.c:1975:43: warning: the address of 'hostaddr' will always evaluate as 'true' [-Waddress]</span></a></li><br/>
<li>29 <a target="content" href="log_content.html#WARNING29"><span style="color:orange">drivers/usb/gadget/function/f_carplay.c:2144:6: warning: unused variable 'status' [-Wunused-variable]</span></a></li><br/>
<li>30 <a target="content" href="log_content.html#WARNING30"><span style="color:orange">drivers/usb/gadget/function/f_carplay.c:2216:1: warning: control reaches end of non-void function [-Wreturn-type]</span></a></li><br/>
<li>31 <a target="content" href="log_content.html#WARNING31"><span style="color:orange">drivers/usb/gadget/function/f_carplay.c:1855:14: warning: 'tmp' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>32 <a target="content" href="log_content.html#WARNING32"><span style="color:orange">drivers/usb/gadget/function/f_carplay.c:1855:30: warning: 'tmp' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>33 <a target="content" href="log_content.html#WARNING33"><span style="color:orange">drivers/usb/gadget/function/f_carplay.c:1834:4: warning: 'tmp' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>34 <a target="content" href="log_content.html#WARNING34"><span style="color:orange">drivers/usb/gadget/function/f_carplay.c:1802:28: warning: 'tmp' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>35 <a target="content" href="log_content.html#WARNING35"><span style="color:orange">drivers/usb/gadget/function/f_carplay.c:1788:5: warning: 'tmp' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>36 <a target="content" href="log_content.html#WARNING36"><span style="color:orange">sound/soc/codecs/alc5623.c:89:1: warning: no return statement in function returning non-void [-Wreturn-type]</span></a></li><br/>
<li>37 <a target="content" href="log_content.html#WARNING37"><span style="color:orange">sound/soc/codecs/alc5623.c:1024:15: warning: unused variable 'vid1' [-Wunused-variable]</span></a></li><br/>
<li>38 <a target="content" href="log_content.html#WARNING38"><span style="color:orange">sound/soc/codecs/alc5623.c:811:13: warning: 'enable_power_depop' defined but not used [-Wunused-function]</span></a></li><br/>
<li>39 <a target="content" href="log_content.html#WARNING39"><span style="color:orange">sound/soc/codecs/rt5640.c:2304:15: warning: unused variable 'val' [-Wunused-variable]</span></a></li><br/>
<li>40 <a target="content" href="log_content.html#WARNING40"><span style="color:orange">drivers/media/i2c/tw9992.c:393:13: warning: 'tw9992_dump_regset' defined but not used [-Wunused-function]</span></a></li><br/>
<li>41 <a target="content" href="log_content.html#WARNING41"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam-vendor.c:54:28: warning: unused variable '_ctx' [-Wunused-variable]</span></a></li><br/>
<li>42 <a target="content" href="log_content.html#WARNING42"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam-vendor.c:61:28: warning: unused variable '_ctx' [-Wunused-variable]</span></a></li><br/>
<li>43 <a target="content" href="log_content.html#WARNING43"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam-vendor.c:68:28: warning: unused variable '_ctx' [-Wunused-variable]</span></a></li><br/>
<li>44 <a target="content" href="log_content.html#WARNING44"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam-vendor.c:78:28: warning: unused variable '_ctx' [-Wunused-variable]</span></a></li><br/>
<li>45 <a target="content" href="log_content.html#WARNING45"><span style="color:orange">drivers/media/platform/nxp-vpu/nx_vpu_v4l2.c:974:1: warning: label 'err_hw_init' defined but not used [-Wunused-label]</span></a></li><br/>
<li>46 <a target="content" href="log_content.html#WARNING46"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam.c:2748:13: warning: '_set_disable_lvds' defined but not used [-Wunused-function]</span></a></li><br/>
<li>47 <a target="content" href="log_content.html#WARNING47"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam.c:2026:13: warning: '_vip_stop' defined but not used [-Wunused-function]</span></a></li><br/>
<li>48 <a target="content" href="log_content.html#WARNING48"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam.c:2198:13: warning: '_set_disable_mlc' defined but not used [-Wunused-function]</span></a></li><br/>
<li>49 <a target="content" href="log_content.html#WARNING49"><span style="color:orange">drivers/media/platform/nexell/capture/nx-rearcam.c:2228:13: warning: '_is_enable_vip' defined but not used [-Wunused-function]</span></a></li><br/>
<li>50 <a target="content" href="log_content.html#WARNING50"><span style="color:orange">drivers/usb/dwc2/hcd.c:2386:12: warning: '_dwc2_hcd_suspend' defined but not used [-Wunused-function]</span></a></li><br/>
<li>51 <a target="content" href="log_content.html#WARNING51"><span style="color:orange">drivers/usb/dwc2/hcd.c:2442:12: warning: '_dwc2_hcd_resume' defined but not used [-Wunused-function]</span></a></li><br/>
<li>52 <a target="content" href="log_content.html#WARNING52"><span style="color:orange">sound/soc/codecs/alc5623.c:89:1: warning: no return statement in function returning non-void [-Wreturn-type]</span></a></li><br/>
<li>53 <a target="content" href="log_content.html#WARNING53"><span style="color:orange">sound/soc/codecs/alc5623.c:1024:15: warning: unused variable 'vid1' [-Wunused-variable]</span></a></li><br/>
<li>54 <a target="content" href="log_content.html#WARNING54"><span style="color:orange">sound/soc/codecs/alc5623.c:811:13: warning: 'enable_power_depop' defined but not used [-Wunused-function]</span></a></li><br/>
<li>55 <a target="content" href="log_content.html#WARNING55"><span style="color:orange">drivers/clk/nexell/clk-nxp5540-pll.c:183:13: warning: 'nx_pll_delay' defined but not used [-Wunused-function]</span></a></li><br/>
<li>56 <a target="content" href="log_content.html#WARNING56"><span style="color:orange">drivers/media/platform/nexell/nxs_v4l2_builder.c:1193:4: warning: format '%d' expects argument of type 'int', but argument 3 has type 'unsigned int *' [-Wformat=]</span></a></li><br/>
<li>57 <a target="content" href="log_content.html#WARNING57"><span style="color:orange">drivers/media/platform/nexell/nxs_v4l2_builder.c:1193:4: warning: format '%d' expects argument of type 'int', but argument 4 has type 'unsigned int *' [-Wformat=]</span></a></li><br/>
<li>58 <a target="content" href="log_content.html#WARNING58"><span style="color:orange">drivers/media/platform/nexell/nxs_v4l2_builder.c:1204:4: warning: format '%d' expects argument of type 'int', but argument 3 has type 'unsigned int *' [-Wformat=]</span></a></li><br/>
<li>59 <a target="content" href="log_content.html#WARNING59"><span style="color:orange">drivers/media/platform/nexell/nxs_v4l2_builder.c:1204:4: warning: format '%d' expects argument of type 'int', but argument 4 has type 'unsigned int *' [-Wformat=]</span></a></li><br/>
<li>60 <a target="content" href="log_content.html#WARNING60"><span style="color:orange">drivers/media/platform/nexell/nxs_v4l2_builder.c:2596:13: warning: 'dump_nxs_function' defined but not used [-Wunused-function]</span></a></li><br/>
<li>61 <a target="content" href="log_content.html#WARNING61"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_function.c:1299:20: warning: passing argument 1 of 'list_is_last' from incompatible pointer type</span></a></li><br/>
<li>62 <a target="content" href="log_content.html#WARNING62"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_function.c:1444:20: warning: passing argument 1 of 'list_is_last' from incompatible pointer type</span></a></li><br/>
<li>63 <a target="content" href="log_content.html#WARNING63"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>64 <a target="content" href="log_content.html#WARNING64"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>65 <a target="content" href="log_content.html#WARNING65"><span style="color:orange">./arch/arm64/include/asm/atomic.h:92:39: warning: passing argument 2 of 'atomic_add' discards 'const' qualifier from pointer target type</span></a></li><br/>
<li>66 <a target="content" href="log_content.html#WARNING66"><span style="color:orange">./arch/arm64/include/asm/atomic.h:93:39: warning: passing argument 2 of 'atomic_sub' discards 'const' qualifier from pointer target type</span></a></li><br/>
<li>67 <a target="content" href="log_content.html#WARNING67"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>68 <a target="content" href="log_content.html#WARNING68"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>69 <a target="content" href="log_content.html#WARNING69"><span style="color:orange">include/linux/soc/nexell/nxs_dev.h:257:10: warning: 'struct regmap' declared inside parameter list</span></a></li><br/>
<li>70 <a target="content" href="log_content.html#WARNING70"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_res_manager.c:243:12: warning: 'get_function_index' defined but not used [-Wunused-function]</span></a></li><br/>
<li>71 <a target="content" href="log_content.html#WARNING71"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>72 <a target="content" href="log_content.html#WARNING72"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>73 <a target="content" href="log_content.html#WARNING73"><span style="color:orange">include/linux/soc/nexell/nxs_dev.h:257:10: warning: 'struct regmap' declared inside parameter list</span></a></li><br/>
<li>74 <a target="content" href="log_content.html#WARNING74"><span style="color:orange">include/linux/soc/nexell/nxs_dev.h:257:10: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>75 <a target="content" href="log_content.html#WARNING75"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>76 <a target="content" href="log_content.html#WARNING76"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>77 <a target="content" href="log_content.html#WARNING77"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_cropper.c:183:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>78 <a target="content" href="log_content.html#WARNING78"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_cropper.c:184:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>79 <a target="content" href="log_content.html#WARNING79"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_cropper.c:185:33: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>80 <a target="content" href="log_content.html#WARNING80"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_cropper.c:186:35: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>81 <a target="content" href="log_content.html#WARNING81"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>82 <a target="content" href="log_content.html#WARNING82"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>83 <a target="content" href="log_content.html#WARNING83"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_csc.c:369:31: warning: passing argument 2 of 'request_irq' from incompatible pointer type</span></a></li><br/>
<li>84 <a target="content" href="log_content.html#WARNING84"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_csc.c:568:39: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>85 <a target="content" href="log_content.html#WARNING85"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_csc.c:571:39: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>86 <a target="content" href="log_content.html#WARNING86"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>87 <a target="content" href="log_content.html#WARNING87"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>88 <a target="content" href="log_content.html#WARNING88"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_dmar.c:822:32: warning: passing argument 2 of 'request_irq' from incompatible pointer type</span></a></li><br/>
<li>89 <a target="content" href="log_content.html#WARNING89"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_dmar.c:1267:39: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>90 <a target="content" href="log_content.html#WARNING90"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>91 <a target="content" href="log_content.html#WARNING91"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>92 <a target="content" href="log_content.html#WARNING92"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_dmaw.c:686:3: warning: format '%d' expects a matching 'int' argument [-Wformat=]</span></a></li><br/>
<li>93 <a target="content" href="log_content.html#WARNING93"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_dmaw.c:887:32: warning: passing argument 2 of 'request_irq' from incompatible pointer type</span></a></li><br/>
<li>94 <a target="content" href="log_content.html#WARNING94"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_dmaw.c:1064:3: warning: format '%p' expects argument of type 'void *', but argument 4 has type 'u32' [-Wformat=]</span></a></li><br/>
<li>95 <a target="content" href="log_content.html#WARNING95"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_dmaw.c:1162:39: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>96 <a target="content" href="log_content.html#WARNING96"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>97 <a target="content" href="log_content.html#WARNING97"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>98 <a target="content" href="log_content.html#WARNING98"><span style="color:orange">include/linux/soc/nexell/nxs_dev.h:257:10: warning: 'struct regmap' declared inside parameter list</span></a></li><br/>
<li>99 <a target="content" href="log_content.html#WARNING99"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_dpc.c:148:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>100 <a target="content" href="log_content.html#WARNING100"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_dpc.c:149:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>101 <a target="content" href="log_content.html#WARNING101"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_dpc.c:150:33: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>102 <a target="content" href="log_content.html#WARNING102"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_dpc.c:151:35: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>103 <a target="content" href="log_content.html#WARNING103"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>104 <a target="content" href="log_content.html#WARNING104"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>105 <a target="content" href="log_content.html#WARNING105"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_fifo.c:253:22: warning: unused variable 'status' [-Wunused-variable]</span></a></li><br/>
<li>106 <a target="content" href="log_content.html#WARNING106"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_fifo.c:287:32: warning: passing argument 2 of 'request_irq' from incompatible pointer type</span></a></li><br/>
<li>107 <a target="content" href="log_content.html#WARNING107"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_fifo.c:125:13: warning: 'fifo_set_enable' defined but not used [-Wunused-function]</span></a></li><br/>
<li>108 <a target="content" href="log_content.html#WARNING108"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>109 <a target="content" href="log_content.html#WARNING109"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>110 <a target="content" href="log_content.html#WARNING110"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_gamma.c:193:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>111 <a target="content" href="log_content.html#WARNING111"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_gamma.c:194:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>112 <a target="content" href="log_content.html#WARNING112"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_gamma.c:195:33: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>113 <a target="content" href="log_content.html#WARNING113"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_gamma.c:196:35: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>114 <a target="content" href="log_content.html#WARNING114"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>115 <a target="content" href="log_content.html#WARNING115"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>116 <a target="content" href="log_content.html#WARNING116"><span style="color:orange">include/uapi/linux/byteorder/little_endian.h:32:43: warning: cast from pointer to integer of different size [-Wpointer-to-int-cast]</span></a></li><br/>
<li>117 <a target="content" href="log_content.html#WARNING117"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>118 <a target="content" href="log_content.html#WARNING118"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>119 <a target="content" href="log_content.html#WARNING119"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_hue.c:161:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>120 <a target="content" href="log_content.html#WARNING120"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_hue.c:162:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>121 <a target="content" href="log_content.html#WARNING121"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_hue.c:163:33: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>122 <a target="content" href="log_content.html#WARNING122"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_hue.c:164:35: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>123 <a target="content" href="log_content.html#WARNING123"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_hdmi.c:2461:3: warning: format '%x' expects argument of type 'unsigned int', but argument 4 has type 'resource_size_t' [-Wformat=]</span></a></li><br/>
<li>124 <a target="content" href="log_content.html#WARNING124"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_hdmi.c:47:44: warning: format '%x' expects argument of type 'unsigned int', but argument 6 has type 'resource_size_t' [-Wformat=]</span></a></li><br/>
<li>125 <a target="content" href="log_content.html#WARNING125"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_hdmi.c:1752:13: warning: 'hdmi_audio_stop' defined but not used [-Wunused-function]</span></a></li><br/>
<li>126 <a target="content" href="log_content.html#WARNING126"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>127 <a target="content" href="log_content.html#WARNING127"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>128 <a target="content" href="log_content.html#WARNING128"><span style="color:orange">include/linux/soc/nexell/nxs_dev.h:257:10: warning: 'struct regmap' declared inside parameter list</span></a></li><br/>
<li>129 <a target="content" href="log_content.html#WARNING129"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_lvds.c:191:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>130 <a target="content" href="log_content.html#WARNING130"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_lvds.c:192:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>131 <a target="content" href="log_content.html#WARNING131"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_lvds.c:193:33: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>132 <a target="content" href="log_content.html#WARNING132"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_lvds.c:194:35: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>133 <a target="content" href="log_content.html#WARNING133"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>134 <a target="content" href="log_content.html#WARNING134"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>135 <a target="content" href="log_content.html#WARNING135"><span style="color:orange">include/linux/soc/nexell/nxs_dev.h:257:10: warning: 'struct regmap' declared inside parameter list</span></a></li><br/>
<li>136 <a target="content" href="log_content.html#WARNING136"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mapconv.c:105:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>137 <a target="content" href="log_content.html#WARNING137"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mapconv.c:106:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>138 <a target="content" href="log_content.html#WARNING138"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mapconv.c:107:33: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>139 <a target="content" href="log_content.html#WARNING139"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mapconv.c:108:35: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>140 <a target="content" href="log_content.html#WARNING140"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>141 <a target="content" href="log_content.html#WARNING141"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>142 <a target="content" href="log_content.html#WARNING142"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mipi_csi.c:205:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>143 <a target="content" href="log_content.html#WARNING143"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mipi_csi.c:206:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>144 <a target="content" href="log_content.html#WARNING144"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mipi_csi.c:207:33: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>145 <a target="content" href="log_content.html#WARNING145"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mipi_csi.c:208:35: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>146 <a target="content" href="log_content.html#WARNING146"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>147 <a target="content" href="log_content.html#WARNING147"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>148 <a target="content" href="log_content.html#WARNING148"><span style="color:orange">include/linux/soc/nexell/nxs_dev.h:257:10: warning: 'struct regmap' declared inside parameter list</span></a></li><br/>
<li>149 <a target="content" href="log_content.html#WARNING149"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mipi_dsi.c:196:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>150 <a target="content" href="log_content.html#WARNING150"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mipi_dsi.c:197:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>151 <a target="content" href="log_content.html#WARNING151"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mipi_dsi.c:198:33: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>152 <a target="content" href="log_content.html#WARNING152"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mipi_dsi.c:199:35: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>153 <a target="content" href="log_content.html#WARNING153"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>154 <a target="content" href="log_content.html#WARNING154"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>155 <a target="content" href="log_content.html#WARNING155"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mlc_blender.c:192:6: warning: unused variable 'dirty_val' [-Wunused-variable]</span></a></li><br/>
<li>156 <a target="content" href="log_content.html#WARNING156"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mlc_blender.c:244:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>157 <a target="content" href="log_content.html#WARNING157"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mlc_blender.c:245:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>158 <a target="content" href="log_content.html#WARNING158"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mlc_blender.c:246:33: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>159 <a target="content" href="log_content.html#WARNING159"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mlc_blender.c:247:35: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>160 <a target="content" href="log_content.html#WARNING160"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>161 <a target="content" href="log_content.html#WARNING161"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>162 <a target="content" href="log_content.html#WARNING162"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mlc_bottom.c:153:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>163 <a target="content" href="log_content.html#WARNING163"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mlc_bottom.c:154:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>164 <a target="content" href="log_content.html#WARNING164"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mlc_bottom.c:155:33: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>165 <a target="content" href="log_content.html#WARNING165"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_mlc_bottom.c:156:35: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>166 <a target="content" href="log_content.html#WARNING166"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>167 <a target="content" href="log_content.html#WARNING167"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>168 <a target="content" href="log_content.html#WARNING168"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_multitap.c:192:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>169 <a target="content" href="log_content.html#WARNING169"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_multitap.c:193:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>170 <a target="content" href="log_content.html#WARNING170"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_multitap.c:194:33: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>171 <a target="content" href="log_content.html#WARNING171"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_multitap.c:195:35: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>172 <a target="content" href="log_content.html#WARNING172"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>173 <a target="content" href="log_content.html#WARNING173"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>174 <a target="content" href="log_content.html#WARNING174"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_scaler.c:412:34: warning: passing argument 2 of 'request_irq' from incompatible pointer type</span></a></li><br/>
<li>175 <a target="content" href="log_content.html#WARNING175"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>176 <a target="content" href="log_content.html#WARNING176"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>177 <a target="content" href="log_content.html#WARNING177"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_tpgen.c:462:33: warning: passing argument 2 of 'request_irq' from incompatible pointer type</span></a></li><br/>
<li>178 <a target="content" href="log_content.html#WARNING178"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>179 <a target="content" href="log_content.html#WARNING179"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>180 <a target="content" href="log_content.html#WARNING180"><span style="color:orange">include/linux/soc/nexell/nxs_dev.h:257:10: warning: 'struct regmap' declared inside parameter list</span></a></li><br/>
<li>181 <a target="content" href="log_content.html#WARNING181"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_vip.c:277:40: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>182 <a target="content" href="log_content.html#WARNING182"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_vip.c:278:40: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>183 <a target="content" href="log_content.html#WARNING183"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_vip.c:279:41: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>184 <a target="content" href="log_content.html#WARNING184"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_vip.c:280:43: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>185 <a target="content" href="log_content.html#WARNING185"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_vip.c:311:42: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>186 <a target="content" href="log_content.html#WARNING186"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_vip.c:312:42: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>187 <a target="content" href="log_content.html#WARNING187"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_vip.c:313:43: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>188 <a target="content" href="log_content.html#WARNING188"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_vip.c:314:45: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>189 <a target="content" href="log_content.html#WARNING189"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: 'enum nxs_event_type' declared inside parameter list</span></a></li><br/>
<li>190 <a target="content" href="log_content.html#WARNING190"><span style="color:orange">include/linux/soc/nexell/nxs_function.h:185:11: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>191 <a target="content" href="log_content.html#WARNING191"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_isp.c:131:6: warning: unused variable 'dirty_val' [-Wunused-variable]</span></a></li><br/>
<li>192 <a target="content" href="log_content.html#WARNING192"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_isp.c:130:18: warning: unused variable 'isp' [-Wunused-variable]</span></a></li><br/>
<li>193 <a target="content" href="log_content.html#WARNING193"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_isp.c:143:18: warning: unused variable 'isp' [-Wunused-variable]</span></a></li><br/>
<li>194 <a target="content" href="log_content.html#WARNING194"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_isp.c:245:2: warning: format '%x' expects argument of type 'unsigned int', but argument 4 has type 'u8 *' [-Wformat=]</span></a></li><br/>
<li>195 <a target="content" href="log_content.html#WARNING195"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_isp.c:245:2: warning: format '%x' expects argument of type 'unsigned int', but argument 5 has type 'u8 *' [-Wformat=]</span></a></li><br/>
<li>196 <a target="content" href="log_content.html#WARNING196"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_isp.c:251:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>197 <a target="content" href="log_content.html#WARNING197"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_isp.c:252:32: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>198 <a target="content" href="log_content.html#WARNING198"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_isp.c:253:33: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>199 <a target="content" href="log_content.html#WARNING199"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_isp.c:254:35: warning: assignment from incompatible pointer type</span></a></li><br/>
<li>200 <a target="content" href="log_content.html#WARNING200"><span style="color:orange">include/linux/soc/nexell/nxs_dev.h:257:10: warning: 'struct regmap' declared inside parameter list</span></a></li><br/>
<li>201 <a target="content" href="log_content.html#WARNING201"><span style="color:orange">include/linux/soc/nexell/nxs_dev.h:257:10: warning: its scope is only this definition or declaration, which is probably not what you want</span></a></li><br/>
<li>202 <a target="content" href="log_content.html#WARNING202"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_sysctl.c:60:33: warning: initialization from incompatible pointer type</span></a></li><br/>
<li>203 <a target="content" href="log_content.html#WARNING203"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_sysctl.c:60:33: warning: (near initialization for '__tracemode__.show')</span></a></li><br/>
<li>204 <a target="content" href="log_content.html#WARNING204"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_sysctl.c:61:11: warning: initialization from incompatible pointer type</span></a></li><br/>
<li>205 <a target="content" href="log_content.html#WARNING205"><span style="color:orange">drivers/soc/nexell/nxstream/nxs_sysctl.c:61:11: warning: (near initialization for '__tracemode__.store')</span></a></li><br/>
<li>206 <a target="content" href="log_content.html#WARNING206"><span style="color:orange">drivers/cpufreq/s5p4418-cpufreq.h:31:30: warning: missing whitespace after the macro name [enabled by default]</span></a></li><br/>
<li>207 <a target="content" href="log_content.html#WARNING207"><span style="color:orange">net/bluetooth/mgmt.c:6635:8: warning: 'r192' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>208 <a target="content" href="log_content.html#WARNING208"><span style="color:orange">net/bluetooth/mgmt.c:6635:8: warning: 'h192' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>209 <a target="content" href="log_content.html#WARNING209"><span style="color:orange">drivers/usb/dwc2/hcd.c:2386:12: warning: '_dwc2_hcd_suspend' defined but not used [-Wunused-function]</span></a></li><br/>
<li>210 <a target="content" href="log_content.html#WARNING210"><span style="color:orange">drivers/usb/dwc2/hcd.c:2442:12: warning: '_dwc2_hcd_resume' defined but not used [-Wunused-function]</span></a></li><br/>
<li>211 <a target="content" href="log_content.html#WARNING211"><span style="color:orange">net/mac80211/mesh_hwmp.c:603:26: warning: 'target_metric' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
