HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#WARNING1"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#WARNING2"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>3 <a target="content" href="log_content.html#WARNING3"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>4 <a target="content" href="log_content.html#WARNING4"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>5 <a target="content" href="log_content.html#WARNING5"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>6 <a target="content" href="log_content.html#WARNING6"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>7 <a target="content" href="log_content.html#WARNING7"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>8 <a target="content" href="log_content.html#WARNING8"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>9 <a target="content" href="log_content.html#WARNING9"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>10 <a target="content" href="log_content.html#WARNING10"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>11 <a target="content" href="log_content.html#WARNING11"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>12 <a target="content" href="log_content.html#WARNING12"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>13 <a target="content" href="log_content.html#WARNING13"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>14 <a target="content" href="log_content.html#WARNING14"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>15 <a target="content" href="log_content.html#WARNING15"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>16 <a target="content" href="log_content.html#WARNING16"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>17 <a target="content" href="log_content.html#WARNING17"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>18 <a target="content" href="log_content.html#WARNING18"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>19 <a target="content" href="log_content.html#WARNING19"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>20 <a target="content" href="log_content.html#WARNING20"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>21 <a target="content" href="log_content.html#WARNING21"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>22 <a target="content" href="log_content.html#WARNING22"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>23 <a target="content" href="log_content.html#WARNING23"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>24 <a target="content" href="log_content.html#WARNING24"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>25 <a target="content" href="log_content.html#WARNING25"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>26 <a target="content" href="log_content.html#WARNING26"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>27 <a target="content" href="log_content.html#WARNING27"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>28 <a target="content" href="log_content.html#WARNING28"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>29 <a target="content" href="log_content.html#WARNING29"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>30 <a target="content" href="log_content.html#WARNING30"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>31 <a target="content" href="log_content.html#WARNING31"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>32 <a target="content" href="log_content.html#WARNING32"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>33 <a target="content" href="log_content.html#WARNING33"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>34 <a target="content" href="log_content.html#WARNING34"><span style="color:orange">curl: (22) The requested URL returned error: 404 Not Found</span></a></li><br/>
<li>35 <a target="content" href="log_content.html#WARNING35"><span style="color:orange">WARNING: Host distribution "Ubuntu-16.04" has not been validated with this version of the build system; you may possibly experience unexpected failures. It is recommended that you use a tested distribution.</span></a></li><br/>
<li>36 <a target="content" href="log_content.html#WARNING36"><span style="color:orange">WARNING: Unable to get checksum for arm-trusted-firmware SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/secure/arm-trusted-firmware/.git/shallow'</span></a></li><br/>
<li>37 <a target="content" href="log_content.html#WARNING37"><span style="color:orange">WARNING: Unable to get checksum for l-loader SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/secure/l-loader/.git/shallow'</span></a></li><br/>
<li>38 <a target="content" href="log_content.html#WARNING38"><span style="color:orange">WARNING: Unable to get checksum for optee-client SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/secure/optee/optee_client/.git/shallow'</span></a></li><br/>
<li>39 <a target="content" href="log_content.html#WARNING39"><span style="color:orange">WARNING: Unable to get checksum for optee-os SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/secure/optee/optee_os/.git/shallow'</span></a></li><br/>
<li>40 <a target="content" href="log_content.html#WARNING40"><span style="color:orange">WARNING: Unable to get checksum for optee-test SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/secure/optee/optee_test/.git/shallow'</span></a></li><br/>
<li>41 <a target="content" href="log_content.html#WARNING41"><span style="color:orange">WARNING: Unable to get checksum for optee-linuxdriver SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/secure/optee/optee_linuxdriver/.git/shallow'</span></a></li><br/>
<li>42 <a target="content" href="log_content.html#WARNING42"><span style="color:orange">WARNING: Unable to get checksum for s5p6818-avn-ref-bl1 SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/bl1/bl1-s5p6818/.git/shallow'</span></a></li><br/>
<li>43 <a target="content" href="log_content.html#WARNING43"><span style="color:orange">WARNING: Unable to get checksum for s5p6818-avn-ref-uboot SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/u-boot/u-boot-2016.01/.git/shallow'</span></a></li><br/>
<li>44 <a target="content" href="log_content.html#WARNING44"><span style="color:orange">WARNING: Host distribution "Ubuntu-16.04" has not been validated with this version of the build system; you may possibly experience unexpected failures. It is recommended that you use a tested distribution.</span></a></li><br/>
<li>45 <a target="content" href="log_content.html#WARNING45"><span style="color:orange">WARNING: Unable to get checksum for linux-s5p6818-avn-ref SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/kernel/kernel-4.4.19/.git/shallow'</span></a></li><br/>
<li>46 <a target="content" href="log_content.html#WARNING46"><span style="color:orange">WARNING: Unable to get checksum for optee-linuxdriver SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/secure/optee/optee_linuxdriver/.git/shallow'</span></a></li><br/>
<li>47 <a target="content" href="log_content.html#WARNING47"><span style="color:orange">WARNING: Unable to get checksum for optee-build SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/secure/optee/optee_build/.git/shallow'</span></a></li><br/>
<li>48 <a target="content" href="log_content.html#WARNING48"><span style="color:orange">WARNING: Unable to get checksum for arm-trusted-firmware SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/secure/arm-trusted-firmware/.git/shallow'</span></a></li><br/>
<li>49 <a target="content" href="log_content.html#WARNING49"><span style="color:orange">WARNING: Unable to get checksum for l-loader SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/secure/l-loader/.git/shallow'</span></a></li><br/>
<li>50 <a target="content" href="log_content.html#WARNING50"><span style="color:orange">WARNING: Unable to get checksum for optee-os SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/secure/optee/optee_os/.git/shallow'</span></a></li><br/>
<li>51 <a target="content" href="log_content.html#WARNING51"><span style="color:orange">WARNING: Unable to get checksum for optee-client SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/secure/optee/optee_client/.git/shallow'</span></a></li><br/>
<li>52 <a target="content" href="log_content.html#WARNING52"><span style="color:orange">WARNING: Unable to get checksum for optee-test SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/secure/optee/optee_test/.git/shallow'</span></a></li><br/>
<li>53 <a target="content" href="log_content.html#WARNING53"><span style="color:orange">WARNING: Unable to get checksum for s5p6818-avn-ref-uboot SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/u-boot/u-boot-2016.01/.git/shallow'</span></a></li><br/>
<li>54 <a target="content" href="log_content.html#WARNING54"><span style="color:orange">WARNING: Unable to get checksum for s5p6818-avn-ref-bl1 SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/bl1/bl1-s5p6818/.git/shallow'</span></a></li><br/>
<li>55 <a target="content" href="log_content.html#WARNING55"><span style="color:orange">WARNING: Unable to get checksum for gst-plugins-camera SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/library/gst-plugins-camera/.git/shallow'</span></a></li><br/>
<li>56 <a target="content" href="log_content.html#WARNING56"><span style="color:orange">WARNING: Unable to get checksum for gst-plugins-renderer SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/library/gst-plugins-renderer/.git/shallow'</span></a></li><br/>
<li>57 <a target="content" href="log_content.html#WARNING57"><span style="color:orange">WARNING: Unable to get checksum for gst-plugins-scaler SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/library/gst-plugins-scaler/.git/shallow'</span></a></li><br/>
<li>58 <a target="content" href="log_content.html#WARNING58"><span style="color:orange">WARNING: Unable to get checksum for nx-drm-allocator SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/library/nx-drm-allocator/.git/shallow'</span></a></li><br/>
<li>59 <a target="content" href="log_content.html#WARNING59"><span style="color:orange">WARNING: Unable to get checksum for nx-gst-meta SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/library/nx-gst-meta/.git/shallow'</span></a></li><br/>
<li>60 <a target="content" href="log_content.html#WARNING60"><span style="color:orange">WARNING: Unable to get checksum for nx-renderer SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/library/nx-renderer/.git/shallow'</span></a></li><br/>
<li>61 <a target="content" href="log_content.html#WARNING61"><span style="color:orange">WARNING: Unable to get checksum for nx-scaler SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/library/nx-scaler/.git/shallow'</span></a></li><br/>
<li>62 <a target="content" href="log_content.html#WARNING62"><span style="color:orange">WARNING: Unable to get checksum for nx-v4l2 SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/library/nx-v4l2/.git/shallow'</span></a></li><br/>
<li>63 <a target="content" href="log_content.html#WARNING63"><span style="color:orange">WARNING: Unable to get checksum for nx-video-api SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/library/nx-video-api/.git/shallow'</span></a></li><br/>
<li>64 <a target="content" href="log_content.html#WARNING64"><span style="color:orange">WARNING: Unable to get checksum for testsuite-s5p6818 SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/apps/testsuite/.git/shallow'</span></a></li><br/>
<li>65 <a target="content" href="log_content.html#WARNING65"><span style="color:orange">WARNING: Unable to get checksum for libdrm-nx SRC_URI entry shallow: [Errno 2] No such file or directory: '/var/jenkins_home/workspace/jenkins_yocto_daily/library/libdrm/.git/shallow'</span></a></li><br/>
<li>66 <a target="content" href="log_content.html#WARNING66"><span style="color:orange">WARNING: zlib-native-1.2.8-r0 do_fetch: Failed to fetch URL http://www.zlib.net/zlib-1.2.8.tar.xz, attempting MIRRORS if available</span></a></li><br/>
<li>67 <a target="content" href="log_content.html#WARNING67"><span style="color:orange">WARNING: libpng-native-1.6.21-r0 do_fetch: Failed to fetch URL http://distfiles.gentoo.org/distfiles/libpng-1.6.21.tar.xz, attempting MIRRORS if available</span></a></li><br/>
<li>68 <a target="content" href="log_content.html#WARNING68"><span style="color:orange">WARNING: libpcre-native-8.38-r0 do_fetch: Failed to fetch URL ftp://ftp.csx.cam.ac.uk/pub/software/programming/pcre/pcre-8.38.tar.bz2, attempting MIRRORS if available</span></a></li><br/>
<li>69 <a target="content" href="log_content.html#WARNING69"><span style="color:orange">WARNING: mesa-2_11.1.1-r0 do_fetch: Failed to fetch URL ftp://ftp.freedesktop.org/pub/mesa/11.1.1/mesa-11.1.1.tar.xz, attempting MIRRORS if available</span></a></li><br/>
<li>70 <a target="content" href="log_content.html#WARNING70"><span style="color:orange">WARNING: liberation-fonts-1_1.04-r4 do_fetch: Checksum mismatch for local file /var/jenkins_home/workspace/jenkins_yocto_daily/yocto/build-s5p6818-avn-ref-qt/downloads/liberation-fonts-1.04.tar.gz</span></a></li><br/>
<li>71 <a target="content" href="log_content.html#WARNING71"><span style="color:orange">WARNING: liberation-fonts-1_1.04-r4 do_fetch: Renaming /var/jenkins_home/workspace/jenkins_yocto_daily/yocto/build-s5p6818-avn-ref-qt/downloads/liberation-fonts-1.04.tar.gz to /var/jenkins_home/workspace/jenkins_yocto_daily/yocto/build-s5p6818-avn-ref-qt/downloads/liberation-fonts-1.04.tar.gz_bad-checksum_938fcc108dc71301150aa5e74f3cbec7</span></a></li><br/>
<li>72 <a target="content" href="log_content.html#WARNING72"><span style="color:orange">WARNING: liberation-fonts-1_1.04-r4 do_fetch: Checksum failure encountered with download of https://fedorahosted.org/releases/l/i/liberation-fonts/liberation-fonts-1.04.tar.gz - will attempt other sources if available</span></a></li><br/>
<li>73 <a target="content" href="log_content.html#WARNING73"><span style="color:orange">WARNING: logrotate-3.9.1-r0 do_fetch: Checksum mismatch for local file /var/jenkins_home/workspace/jenkins_yocto_daily/yocto/build-s5p6818-avn-ref-qt/downloads/logrotate-3.9.1.tar.gz</span></a></li><br/>
<li>74 <a target="content" href="log_content.html#WARNING74"><span style="color:orange">WARNING: logrotate-3.9.1-r0 do_fetch: Renaming /var/jenkins_home/workspace/jenkins_yocto_daily/yocto/build-s5p6818-avn-ref-qt/downloads/logrotate-3.9.1.tar.gz to /var/jenkins_home/workspace/jenkins_yocto_daily/yocto/build-s5p6818-avn-ref-qt/downloads/logrotate-3.9.1.tar.gz_bad-checksum_c8e68c0f2a6796f687a1466396a667d9</span></a></li><br/>
<li>75 <a target="content" href="log_content.html#WARNING75"><span style="color:orange">WARNING: logrotate-3.9.1-r0 do_fetch: Checksum failure encountered with download of https://fedorahosted.org/releases/l/o/logrotate/logrotate-3.9.1.tar.gz - will attempt other sources if available</span></a></li><br/>
