HEADER HERE: #0
<li>1 <a target="content" href="log_content.html#WARNING1"><span style="color:orange">arch/arm/cpu/slsiap/common/cmd_fastboot.c:1492:4: warning: format '%ld' expects argument of type 'long int', but argument 3 has type 'unsigned int' [-Wformat=]</span></a></li><br/>
<li>2 <a target="content" href="log_content.html#WARNING2"><span style="color:orange">arch/arm/cpu/slsiap/s5p6818/prototype/module/nx_pwm.c:588:12: warning: unused variable 'DEADZ_MASK' [-Wunused-variable]</span></a></li><br/>
<li>3 <a target="content" href="log_content.html#WARNING3"><span style="color:orange">arch/arm/cpu/slsiap/s5p6818/prototype/module/nx_pwm.c:587:17: warning: unused variable 'DEADZ_POS' [-Wunused-variable]</span></a></li><br/>
<li>4 <a target="content" href="log_content.html#WARNING4"><span style="color:orange">arch/arm/cpu/slsiap/s5p6818/prototype/module/nx_pwm.c:898:25: warning: 'updatedonevalue' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>5 <a target="content" href="log_content.html#WARNING5"><span style="color:orange">arch/arm/cpu/slsiap/s5p6818/prototype/module/nx_dpc.c:2278:6: warning: unused variable 'regvalue1' [-Wunused-variable]</span></a></li><br/>
<li>6 <a target="content" href="log_content.html#WARNING6"><span style="color:orange">arch/arm/cpu/slsiap/s5p6818/prototype/module/nx_dpc.c:2827:2: warning: dereferencing type-punned pointer will break strict-aliasing rules [-Wstrict-aliasing]</span></a></li><br/>
<li>7 <a target="content" href="log_content.html#WARNING7"><span style="color:orange">arch/arm/cpu/slsiap/s5p6818/prototype/module/nx_dpc.c:2839:2: warning: dereferencing type-punned pointer will break strict-aliasing rules [-Wstrict-aliasing]</span></a></li><br/>
<li>8 <a target="content" href="log_content.html#WARNING8"><span style="color:orange">arch/arm/cpu/slsiap/s5p6818/prototype/module/nx_mlc.c:3285:10: warning: 'regval' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>9 <a target="content" href="log_content.html#WARNING9"><span style="color:orange">include/configs/s5p6818_drone.h:93:57: warning: integer overflow in expression [-Woverflow]</span></a></li><br/>
<li>10 <a target="content" href="log_content.html#WARNING10"><span style="color:orange">arch/arm/cpu/slsiap/s5p6818/../devices/gpio_nxp.c:159:2: warning: implicit declaration of function 'NX_GPIO_GetDRV1' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>11 <a target="content" href="log_content.html#WARNING11"><span style="color:orange">arch/arm/cpu/slsiap/s5p6818/../devices/gpio_nxp.c:160:2: warning: implicit declaration of function 'NX_GPIO_GetDRV0' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>12 <a target="content" href="log_content.html#WARNING12"><span style="color:orange">arch/arm/cpu/slsiap/s5p6818/../devices/gpio_nxp.c:167:2: warning: implicit declaration of function 'NX_GPIO_SetDRV0' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>13 <a target="content" href="log_content.html#WARNING13"><span style="color:orange">arch/arm/cpu/slsiap/s5p6818/../devices/gpio_nxp.c:168:2: warning: implicit declaration of function 'NX_GPIO_SetDRV1' [-Wimplicit-function-declaration]</span></a></li><br/>
<li>14 <a target="content" href="log_content.html#WARNING14"><span style="color:orange">arch/arm/kernel/return_address.c:62:2: warning: #warning "TODO: return_address should use unwind tables" [-Wcpp]</span></a></li><br/>
<li>15 <a target="content" href="log_content.html#WARNING15"><span style="color:orange">/tmp/ccstS9kQ.s:926: Warning: This coprocessor register access is deprecated in ARMv8</span></a></li><br/>
<li>16 <a target="content" href="log_content.html#WARNING16"><span style="color:orange">arch/arm/mm/rodata.c:91:4: warning: format '%lx' expects argument of type 'long unsigned int', but argument 4 has type 'pmd_t' [-Wformat=]</span></a></li><br/>
<li>17 <a target="content" href="log_content.html#WARNING17"><span style="color:orange">arch/arm/mm/alignment.c:327:15: warning: 'offset.un' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>18 <a target="content" href="log_content.html#WARNING18"><span style="color:orange">/tmp/ccAG0czS.s:128: Warning: This coprocessor register access is deprecated in ARMv8</span></a></li><br/>
<li>19 <a target="content" href="log_content.html#WARNING19"><span style="color:orange">/tmp/ccAG0czS.s:214: Warning: This coprocessor register access is deprecated in ARMv8</span></a></li><br/>
<li>20 <a target="content" href="log_content.html#WARNING20"><span style="color:orange">arch/arm/mach-s5p6818/soc/hdmi/nxp-hdmi-context.c:677:4: warning: return discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>21 <a target="content" href="log_content.html#WARNING21"><span style="color:orange">arch/arm/mach-s5p6818/soc/hdmi/nxp-hdmi-context.c:461:12: warning: '_write_tx_level' defined but not used [-Wunused-function]</span></a></li><br/>
<li>22 <a target="content" href="log_content.html#WARNING22"><span style="color:orange">arch/arm/mach-s5p6818/soc/hdmi/nxp-hdmi-context.c:820:13: warning: 'clear_hdcp_int' defined but not used [-Wunused-function]</span></a></li><br/>
<li>23 <a target="content" href="log_content.html#WARNING23"><span style="color:orange">mm/vmscan.c:218:8: warning: unused variable 'name' [-Wunused-variable]</span></a></li><br/>
<li>24 <a target="content" href="log_content.html#WARNING24"><span style="color:orange">arch/arm/mach-s5p6818/prototype/module/nx_mlc.c:3285:10: warning: 'regval' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>25 <a target="content" href="log_content.html#WARNING25"><span style="color:orange">arch/arm/mach-s5p6818/prototype/module/nx_dpc.c:2278:6: warning: unused variable 'regvalue1' [-Wunused-variable]</span></a></li><br/>
<li>26 <a target="content" href="log_content.html#WARNING26"><span style="color:orange">arch/arm/mach-s5p6818/prototype/module/nx_resconv.c:484:2: warning: ISO C90 forbids mixed declarations and code [-Wdeclaration-after-statement]</span></a></li><br/>
<li>27 <a target="content" href="log_content.html#WARNING27"><span style="color:orange">arch/arm/mach-s5p6818/prototype/module/nx_pwm.c:588:12: warning: unused variable 'DEADZ_MASK' [-Wunused-variable]</span></a></li><br/>
<li>28 <a target="content" href="log_content.html#WARNING28"><span style="color:orange">arch/arm/mach-s5p6818/prototype/module/nx_pwm.c:587:17: warning: unused variable 'DEADZ_POS' [-Wunused-variable]</span></a></li><br/>
<li>29 <a target="content" href="log_content.html#WARNING29"><span style="color:orange">arch/arm/mach-s5p6818/prototype/module/nx_pwm.c:898:25: warning: 'updatedonevalue' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>30 <a target="content" href="log_content.html#WARNING30"><span style="color:orange">arch/arm/mach-s5p6818/prototype/module/nx_scaler.c:1080:5: warning: 'DestAddr' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>31 <a target="content" href="log_content.html#WARNING31"><span style="color:orange">arch/arm/mach-s5p6818/prototype/module/nx_scaler.c:1129:5: warning: 'DestStride' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>32 <a target="content" href="log_content.html#WARNING32"><span style="color:orange">net/bluetooth/hci_conn.c:237:28: warning: argument to 'sizeof' in 'memcpy' call is the same pointer type '__u8 *' as the destination; expected '__u8' or an explicit length [-Wsizeof-pointer-memaccess]</span></a></li><br/>
<li>33 <a target="content" href="log_content.html#WARNING33"><span style="color:orange">drivers/cpuidle/governors/menu.c:129:12: warning: 'get_loadavg' defined but not used [-Wunused-function]</span></a></li><br/>
<li>34 <a target="content" href="log_content.html#WARNING34"><span style="color:orange">fs/ext4/resize.c:1153:9: warning: unused variable 'ret' [-Wunused-variable]</span></a></li><br/>
<li>35 <a target="content" href="log_content.html#WARNING35"><span style="color:orange">drivers/hwmon/mma8653.c:373:16: warning: unused variable 'data' [-Wunused-variable]</span></a></li><br/>
<li>36 <a target="content" href="log_content.html#WARNING36"><span style="color:orange">drivers/hwmon/mma8653.c:385:16: warning: unused variable 'data' [-Wunused-variable]</span></a></li><br/>
<li>37 <a target="content" href="log_content.html#WARNING37"><span style="color:orange">drivers/hwmon/mma8653.c:989:15: warning: unused variable 'z' [-Wunused-variable]</span></a></li><br/>
<li>38 <a target="content" href="log_content.html#WARNING38"><span style="color:orange">drivers/hwmon/mma8653.c:989:12: warning: unused variable 'y' [-Wunused-variable]</span></a></li><br/>
<li>39 <a target="content" href="log_content.html#WARNING39"><span style="color:orange">drivers/hwmon/mma8653.c:989:9: warning: unused variable 'x' [-Wunused-variable]</span></a></li><br/>
<li>40 <a target="content" href="log_content.html#WARNING40"><span style="color:orange">drivers/hwmon/mma8653.c:556:16: warning: 'data' is used uninitialized in this function [-Wuninitialized]</span></a></li><br/>
<li>41 <a target="content" href="log_content.html#WARNING41"><span style="color:orange">include/net/ipv6.h:363:17: warning: 'in6' may be used uninitialized in this function [-Wmaybe-uninitialized]</span></a></li><br/>
<li>42 <a target="content" href="log_content.html#WARNING42"><span style="color:orange">drivers/media/video/sp2518.c:2020:12: warning: 'sp2518_save_exposure_param' defined but not used [-Wunused-function]</span></a></li><br/>
<li>43 <a target="content" href="log_content.html#WARNING43"><span style="color:orange">net/netfilter/xt_connbytes.c:43:4: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>44 <a target="content" href="log_content.html#WARNING44"><span style="color:orange">net/netfilter/xt_connbytes.c:46:4: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>45 <a target="content" href="log_content.html#WARNING45"><span style="color:orange">net/netfilter/xt_connbytes.c:49:4: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>46 <a target="content" href="log_content.html#WARNING46"><span style="color:orange">net/netfilter/xt_connbytes.c:50:4: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>47 <a target="content" href="log_content.html#WARNING47"><span style="color:orange">net/netfilter/xt_connbytes.c:57:4: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>48 <a target="content" href="log_content.html#WARNING48"><span style="color:orange">net/netfilter/xt_connbytes.c:60:4: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>49 <a target="content" href="log_content.html#WARNING49"><span style="color:orange">net/netfilter/xt_connbytes.c:63:4: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>50 <a target="content" href="log_content.html#WARNING50"><span style="color:orange">net/netfilter/xt_connbytes.c:64:4: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>51 <a target="content" href="log_content.html#WARNING51"><span style="color:orange">net/netfilter/xt_connbytes.c:71:4: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>52 <a target="content" href="log_content.html#WARNING52"><span style="color:orange">net/netfilter/xt_connbytes.c:72:4: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>53 <a target="content" href="log_content.html#WARNING53"><span style="color:orange">net/netfilter/xt_connbytes.c:75:4: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>54 <a target="content" href="log_content.html#WARNING54"><span style="color:orange">net/netfilter/xt_connbytes.c:76:4: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>55 <a target="content" href="log_content.html#WARNING55"><span style="color:orange">net/netfilter/xt_connbytes.c:79:4: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>56 <a target="content" href="log_content.html#WARNING56"><span style="color:orange">net/netfilter/xt_connbytes.c:80:5: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>57 <a target="content" href="log_content.html#WARNING57"><span style="color:orange">net/netfilter/xt_connbytes.c:81:4: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>58 <a target="content" href="log_content.html#WARNING58"><span style="color:orange">net/netfilter/xt_connbytes.c:82:5: warning: passing argument 1 of 'atomic64_read' discards 'const' qualifier from pointer target type [enabled by default]</span></a></li><br/>
<li>59 <a target="content" href="log_content.html#WARNING59"><span style="color:orange">drivers/media/video/videobuf2-ion-nxp.c:63:18: warning: unused variable 'heapmask' [-Wunused-variable]</span></a></li><br/>
<li>60 <a target="content" href="log_content.html#WARNING60"><span style="color:orange">drivers/media/video/nexell/nxp-video.c:929:11: warning: unused variable 'hostdata_back' [-Wunused-variable]</span></a></li><br/>
<li>61 <a target="content" href="log_content.html#WARNING61"><span style="color:orange">drivers/media/video/nexell/nxp-video.c:925:9: warning: unused variable 'ret' [-Wunused-variable]</span></a></li><br/>
<li>62 <a target="content" href="log_content.html#WARNING62"><span style="color:orange">drivers/media/video/nexell/nxp-video.c:977:11: warning: unused variable 'hostdata_back' [-Wunused-variable]</span></a></li><br/>
<li>63 <a target="content" href="log_content.html#WARNING63"><span style="color:orange">drivers/usb/host/dwc_otg/dwc_otg_pcd_intr.c:2526:4: warning: ISO C90 forbids mixed declarations and code [-Wdeclaration-after-statement]</span></a></li><br/>
